$custom-red-color: #af0f27;
$content-color: #353535;
$transition-duration: .4s;
$content-title-size: 19px;
$content-body-size: 15px;

@mixin page-title-font(){
    font-family: title-font;
    font-size: 48px;
    text-transform: uppercase;
    @media only screen and (max-width: 768px) {
        font-size: 40px;
    }
}

@mixin blog-title-font{
    font-family: content-font-bold;
    font-size: 25.6px;
    line-height: 1.3;
    @media only screen and (max-width: 768px) {
        font-size: 20px;
    }
}

@font-face {
    font-family: title-font;
    src: url('../fonts/TitilliumWeb/TitilliumWeb-Black.ttf');
}
@font-face {
    font-family: title-font-bold;
    src: url('../fonts/TitilliumWeb/TitilliumWeb-Bold.ttf');
}
@font-face {
    font-family: content-title-font;
    src: url('../fonts/Montserrat/MONTSERRAT-BLACK.TTF');
}
@font-face {
    font-family: content-font;
    src: url('../fonts/Montserrat/MONTSERRAT-REGULAR.TTF');
}
@font-face {
    font-family: content-font-bold;
    src: url('../fonts/Montserrat/MONTSERRAT-BOLD.TTF');
}
@font-face {
    font-family: content-font-light;
    src: url('../fonts/Montserrat/MONTSERRAT-LIGHT.TTF');
}

.site-wrapper{
    background-color: #fdfcfc;
    background-image: url("../images/cloud-hosting/sun-beams.png");
    background-position: top center;
    background-repeat: no-repeat;
    font-family: content-font;
    .site-content{
        color: $content-color;
        background-color: transparent;
        position: relative;
        padding: 0px 0px 0px 0px;
        overflow: hidden;
        width: 100%;
        .content-wrapper{
            margin: 0px auto;
            max-width: 1300px;
            text-align: center;
            padding: 0px 35px;
            position: relative;
            z-index: 10;
            section.blog-header{
                margin-top: 60px;
                margin-bottom: 115px;
                >h2{
                    @include page-title-font();
                    margin-bottom: 50px;
                }
                >p{
                    max-width: 800px;
                    margin: 0px auto 30px;
                    font-family: content-font;
                    font-size: 16px;
                    line-height: 2;
                }
                >.select-wrapper{
                    max-width: 300px;
                    margin: 0px auto;
                    padding: 30px 0px;
                    text-align: center;
                    border: 1px solid #c3c3c3;
                    select{
                        cursor: pointer;
                        font-family: content-font-bold;
                        font-size: 15px;
                        text-transform: uppercase;
                        color: $custom-red-color;
                        background-color: transparent;
                        border: none;
                        line-height: 1;
                        &:focus{
                            border: none;
                            outline: none;
                        }
                        option{
                            min-height: 2.5em;
                        }
                    }
                }
                @media only screen and (max-width: 768px) {
                    margin-top: 0px;
                    margin-bottom: 50px;
                    >h2{
                        margin-top: 0px;
                        margin-bottom: 20px;
                        @include page-title-font();
                    }
                    >p{
                        max-width: 800px;
                        margin: 0px auto 20px;
                        font-family: content-font;
                        font-size: 16px;
                        line-height: 2;
                    }
                    >.select-wrapper{
                        max-width: 300px;
                        margin: 0px auto;
                        padding: 30px 0px;
                        text-align: center;
                        border: 1px solid #c3c3c3;
                        select{
                            cursor: pointer;
                            font-family: content-font-bold;
                            font-size: 15px;
                            text-transform: uppercase;
                            color: $custom-red-color;
                            background-color: transparent;
                            border: none;
                            line-height: 1;
                            &:focus{
                                border: none;
                                outline: none;
                            }
                            option{
                                min-height: 2.5em;
                            }
                        }
                    }
                }
            }
            section.blog-container{
                padding-bottom: 130px;
                article.blog-wrapper{
                    max-width: 90%;
                    margin: 0px auto 70px;
                    .img-wrapper{
                        position: relative;
                        margin-bottom: 50px;
                        & > img{
                            cursor: pointer;
                            width: 100%;
                            position: relative;
                            z-index: 2;
                            max-width: 100%;
                            &:hover{
                                box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, .07);
                            }
                        }
                        aside.background-decoration{
                            .play-btn{
                                position: absolute;
                                z-index: 3;
                                right: 13.5%;
                                bottom: -14%;
                                background-color: $content-color;
                                border-radius: 50%;
                                display: inline-block;
                                width: 18.9%;
                                height: 27.3%;
                                max-width: 102.5px;
                                max-height: 102.5px;
                                padding: 0px;
                                box-sizing: border-box;
                                img{
                                    margin-top: calc((100% - 24px) / 2);
                                    margin-left: .3%;
                                    vertical-align: middle;
                                }
                                &.active{
                                    background-color: $custom-red-color;
                                }
                            }
                            .blog-cloud{
                                position: absolute;
                                left: -70px;
                                bottom: -40px;
                            }
                        }
                    }
                    .blog-description{
                        margin: 0px auto 0px 5%;
                        .date-wrapper{
                            max-width: 350px;
                            text-align: left;
                            font-family: content-font;
                            font-size: 13.45px;
                            span{
                                vertical-align: middle;
                            }
                        }
                        a{
                            color: #353535;
                            &:hover{
                                text-decoration: none;
                                color: #222;
                            }
                        }
                        h4.blog-title{
                            text-align: left;
                            max-width: 350px;
                            margin-bottom: 20px;
                            @include blog-title-font();
                        }
                        >aside{
                            border-left: 1px solid #dbdbdb;
                            text-align: left;
                            margin: 0px auto 0px 12%;
                            padding-left: 5%;
                            >p{
                                font-family: content-font;
                                font-size: 15px;
                                line-height: 1.9;
                                margin-bottom: 25px;
                            }
                            >div{
                                font-family: content-font-light;
                                font-size: 14px;
                                color: $custom-red-color;
                                >a{
                                    color: $custom-red-color;
                                }
                            }
                        }
                    }
                    &.top-spacing{
                        margin-top: 93px;
                    }
                }
                .blog-pagination{
                    color: #a7a7a7;
                    display: inline-block;
                    >a.pagination-btn{
                        float: left;
                        display: inline-block;
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        vertical-align: middle;
                        border-radius: 50%;
                        border: 1px solid #e8e8e8;
                        font-family: content-font;
                        color: #a7a7a7;
                        font-size: 16px;
                        margin: 3px;
                        &:hover{
                            text-decoration: none;
                            background-color: #f3f2f2;
                        }
                        &.current{
                            background-color: $custom-red-color;
                            color: white;
                            border-color: $custom-red-color;
                        }
                    }
                    >.pagination-ellipsis{
                        float: left;
                        display: inline-block;
                        line-height: 50px;
                        margin: 3px 10px;
                    }
                }
                @media only screen and (max-width: 768px) {
                    padding-bottom: 30px;
                    article.blog-wrapper{
                        max-width: 100%;
                        margin: 0px auto 30px;
                        .img-wrapper{
                            position: relative;
                            margin-bottom: 50px;
                            & > img{
                                width: 100%;
                                position: relative;
                                z-index: 2;
                                max-width: 100%;
                            }
                            aside.background-decoration{
                                .play-btn{
                                    position: absolute;
                                    z-index: 3;
                                    right: 13.5%;
                                    bottom: -13%;
                                    background-color: $content-color;
                                    border-radius: 50%;
                                    display: inline-block;
                                    width: 18.9%;
                                    height: 27.3%;
                                    max-width: 102.5px;
                                    max-height: 102.5px;
                                    padding: 0px;
                                    box-sizing: border-box;
                                    img{
                                        margin-top: calc((100% - 24px) / 2);
                                        margin-left: .3%;
                                        vertical-align: middle;
                                    }
                                    &.active{
                                        background-color: $custom-red-color;
                                    }
                                }
                                .blog-cloud{
                                    position: absolute;
                                    left: -70px;
                                    bottom: -40px;
                                }
                            }
                        }
                        .blog-description{
                            margin: 0px auto 0px 3%;
                            .date-wrapper{
                                max-width: 350px;
                                text-align: left;
                                font-family: content-font;
                                font-size: 13.45px;
                                span{
                                    vertical-align: middle;
                                }
                            }
                            h4.blog-title{
                                text-align: left;
                                max-width: 350px;
                                margin-bottom: 20px;
                                @include blog-title-font();
                            }
                            >aside{
                                border-left: 1px solid #dbdbdb;
                                text-align: left;
                                margin: 0px auto 0px 5%;
                                padding-left: 5%;
                                >p{
                                    font-family: content-font;
                                    font-size: 15px;
                                    line-height: 1.9;
                                    margin-bottom: 25px;
                                }
                                >div{
                                    font-family: content-font-light;
                                    font-size: 14px;
                                    color: $custom-red-color;
                                    >a{
                                        color: $custom-red-color;
                                    }
                                }
                            }
                        }
                        &.top-spacing{
                            margin-top: 0px;
                        }
                    }
                    .blog-pagination{
                        color: #a7a7a7;
                        display: inline-block;
                        >a.pagination-btn{
                            float: left;
                            display: inline-block;
                            width: 50px;
                            height: 50px;
                            line-height: 50px;
                            vertical-align: middle;
                            border-radius: 50%;
                            border: 1px solid #e8e8e8;
                            font-family: content-font;
                            color: #a7a7a7;
                            font-size: 16px;
                            margin: 3px;
                            &:hover{
                                text-decoration: none;
                                background-color: #f3f2f2;
                            }
                            &.current{
                                background-color: $custom-red-color;
                                color: white;
                                border-color: $custom-red-color;
                            }
                        }
                        >.pagination-ellipsis{
                            float: left;
                            display: inline-block;
                            line-height: 50px;
                            margin: 3px 10px;
                        }
                    }
                }
            }
            & > section{
                position: relative;
                .section-content{
                    max-width: 1230px;
                    padding: 0px 15px;
                    margin: 0px auto;
                    position: relative;
                    z-index: 20;
                }
                .section-decoration{
                    >*{
                        position: absolute;
                        z-index: 1;
                    }
                }
            }
        }
        & > .background-decoration{
            overflow: hidden;
            img{
                position: absolute;
                z-index: 2;
                bottom: 10px;
                &.superman{
                    top: 203px;
                    left: calc(100% * 237 / 1920);
                    z-index: 3;
                    @media only screen and (max-width: 1290px) {
                        top: calc(600px - 30vw);
                    }
                    @media only screen and (max-width: 768px) {
                        top: calc(465px - 30vw);
                    }
                }
                &.cloud1{
                    top: 105px;
                    left: -230px;
                }
                &.cloud2{
                    top: 115px;
                    right: calc(100% * 250 / 1920);
                }
                &.cloud3{
                    top: 483px;
                    left: calc(100% * 120 / 1920);
                }
            }
        }
    }
    & > footer{
        background-image: url("../images/footer-bg.png");
        background-position: top center;
        z-index: 1;
    }
}

.custom-red-color{
    color: $custom-red-color;
}
*{
    transition: all $transition-duration;
}
.display-on-mobile{
    @media only screen and (min-width: 991px) {
        display: none;
    }
}
.hide-on-mobile{
    @media only screen and (max-width: 991px) {
        display: none;
    }
}


@mixin make-col-style($col-prefix, $total-col-count){
    @for $i from 0 through $total-col-count {
        .#{$col-prefix}-#{$i}{
            width: calc(100% * #{$i} / #{$total-col-count});
        }
    }
}

.c-row{
    margin: 0px -15px;
    display: block;
    &:after{
        content: '';
        display: block;
        clear: both;
    }
    &:before{
        content: '';
        display: block;
        clear: both;
    }
    & > [class^='c-col-']{
        display: block;
        padding: 0px 15px;
        float: left;
    }
    @media only screen and (min-width: 1200px) {
        @include make-col-style('c-col-lg', 60);
    }
    @media only screen and (min-width: 992px) and (max-width: 1200px){
        @include make-col-style('c-col-md', 60);
    }
    @media only screen and (min-width: 768px) and (max-width: 992px){
        @include make-col-style('c-col-sm', 60);
    }
    @media only screen and (max-width: 768px){
        @include make-col-style('c-col-xs', 60);
    }
}