@font-face {
  font-family: title-font;
  src: url("../fonts/TitilliumWeb/TitilliumWeb-Black.ttf");
}

@font-face {
  font-family: title-font-bold;
  src: url("../fonts/TitilliumWeb/TitilliumWeb-Bold.ttf");
}

@font-face {
  font-family: content-title-font;
  src: url("../fonts/Montserrat/MONTSERRAT-BLACK.TTF");
}

@font-face {
  font-family: content-font;
  src: url("../fonts/Montserrat/MONTSERRAT-REGULAR.TTF");
}

@font-face {
  font-family: content-font-bold;
  src: url("../fonts/Montserrat/MONTSERRAT-BOLD.TTF");
}

@font-face {
  font-family: content-font-light;
  src: url("../fonts/Montserrat/MONTSERRAT-LIGHT.TTF");
}

.site-wrapper {
  background-color: #fdfcfc;
  background-image: url("../images/cloud-hosting/sun-beams.png");
  background-position: top center;
  background-repeat: no-repeat;
  font-family: content-font;
}

.site-wrapper .site-content {
  color: #353535;
  background-color: transparent;
  position: relative;
  padding: 0px 0px 0px 0px;
  overflow: hidden;
  width: 100%;
}

.site-wrapper .site-content .content-wrapper {
  margin: 0px auto;
  max-width: 1920px;
  text-align: center;
  padding: 0px 35px;
  position: relative;
  z-index: 10;
}

.site-wrapper .site-content .content-wrapper section.blog-header {
  margin-top: 60px;
  margin-bottom: 115px;
}

.site-wrapper .site-content .content-wrapper section.blog-header > h2 {
  font-family: title-font;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .site-wrapper .site-content .content-wrapper section.blog-header > h2 {
    font-size: 40px;
  }
}

.site-wrapper .site-content .content-wrapper section.blog-header > p {
  max-width: 800px;
  margin: 0px auto 30px;
  font-family: content-font;
  font-size: 16px;
  line-height: 2;
}

.site-wrapper .site-content .content-wrapper section.blog-header > .select-wrapper {
  max-width: 300px;
  margin: 0px auto;
  padding: 30px 0px;
  text-align: center;
  border: 1px solid #c3c3c3;
}

.site-wrapper .site-content .content-wrapper section.blog-header > .select-wrapper select {
  cursor: pointer;
  font-family: content-font-bold;
  font-size: 15px;
  text-transform: uppercase;
  color: #af0f27;
  background-color: transparent;
  border: none;
  line-height: 1;
}

.site-wrapper .site-content .content-wrapper section.blog-header > .select-wrapper select:focus {
  border: none;
  outline: none;
}

.site-wrapper .site-content .content-wrapper section.blog-header > .select-wrapper select option {
  min-height: 2.5em;
}

@media only screen and (max-width: 768px) {
  .site-wrapper .site-content .content-wrapper section.blog-header {
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .site-wrapper .site-content .content-wrapper section.blog-header > h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: title-font;
    font-size: 48px;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 768px) and (max-width: 768px) {
  .site-wrapper .site-content .content-wrapper section.blog-header > h2 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .site-wrapper .site-content .content-wrapper section.blog-header > p {
    max-width: 800px;
    margin: 0px auto 20px;
    font-family: content-font;
    font-size: 16px;
    line-height: 2;
  }
  .site-wrapper .site-content .content-wrapper section.blog-header > .select-wrapper {
    max-width: 300px;
    margin: 0px auto;
    padding: 30px 0px;
    text-align: center;
    border: 1px solid #c3c3c3;
  }
  .site-wrapper .site-content .content-wrapper section.blog-header > .select-wrapper select {
    cursor: pointer;
    font-family: content-font-bold;
    font-size: 15px;
    text-transform: uppercase;
    color: #af0f27;
    background-color: transparent;
    border: none;
    line-height: 1;
  }
  .site-wrapper .site-content .content-wrapper section.blog-header > .select-wrapper select:focus {
    border: none;
    outline: none;
  }
  .site-wrapper .site-content .content-wrapper section.blog-header > .select-wrapper select option {
    min-height: 2.5em;
  }
}

.site-wrapper .site-content .content-wrapper section.blog-container {
  padding-bottom: 130px;
}

.site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper {
  max-width: 90%;
  margin: 0px auto 70px;
}

.site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .img-wrapper {
  position: relative;
  margin-bottom: 50px;
}

.site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .img-wrapper > img {
  cursor: pointer;
  width: 100%;
  position: relative;
  z-index: 2;
  max-width: 100%;
}

.site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .img-wrapper > img:hover {
  -webkit-box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.07);
}

.site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .img-wrapper aside.background-decoration .play-btn {
  position: absolute;
  z-index: 3;
  right: 13.5%;
  bottom: -14%;
  background-color: #353535;
  border-radius: 50%;
  display: inline-block;
  width: 18.9%;
  height: 27.3%;
  max-width: 102.5px;
  max-height: 102.5px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .img-wrapper aside.background-decoration .play-btn img {
  margin-top: calc((100% - 24px) / 2);
  margin-left: .3%;
  vertical-align: middle;
}

.site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .img-wrapper aside.background-decoration .play-btn.active {
  background-color: #af0f27;
}

.site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .img-wrapper aside.background-decoration .blog-cloud {
  position: absolute;
  left: -70px;
  bottom: -40px;
}

.site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .blog-description {
  margin: 0px auto 0px 5%;
}

.site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .blog-description .date-wrapper {
  max-width: 350px;
  text-align: left;
  font-family: content-font;
  font-size: 13.45px;
}

.site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .blog-description .date-wrapper span {
  vertical-align: middle;
}

.site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .blog-description a {
  color: #353535;
}

.site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .blog-description a:hover {
  text-decoration: none;
  color: #222;
}

.site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .blog-description h4.blog-title {
  text-align: left;
  max-width: 350px;
  margin-bottom: 20px;
  font-family: content-font-bold;
  font-size: 25.6px;
  line-height: 1.3;
}

@media only screen and (max-width: 768px) {
  .site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .blog-description h4.blog-title {
    font-size: 20px;
  }
}

.site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .blog-description > aside {
  border-left: 1px solid #dbdbdb;
  text-align: left;
  margin: 0px auto 0px 12%;
  padding-left: 5%;
}

.site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .blog-description > aside > p {
  font-family: content-font;
  font-size: 15px;
  line-height: 1.9;
  margin-bottom: 25px;
}

.site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .blog-description > aside > div {
  font-family: content-font-light;
  font-size: 14px;
  color: #af0f27;
}

.site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .blog-description > aside > div > a {
  color: #af0f27;
}

.site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper.top-spacing {
  margin-top: 93px;
}

.site-wrapper .site-content .content-wrapper section.blog-container .blog-pagination {
  color: #a7a7a7;
  display: inline-block;
}

.site-wrapper .site-content .content-wrapper section.blog-container .blog-pagination > a.pagination-btn {
  float: left;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  font-family: content-font;
  color: #a7a7a7;
  font-size: 16px;
  margin: 3px;
}

.site-wrapper .site-content .content-wrapper section.blog-container .blog-pagination > a.pagination-btn:hover {
  text-decoration: none;
  background-color: #f3f2f2;
}

.site-wrapper .site-content .content-wrapper section.blog-container .blog-pagination > a.pagination-btn.current {
  background-color: #af0f27;
  color: white;
  border-color: #af0f27;
}

.site-wrapper .site-content .content-wrapper section.blog-container .blog-pagination > .pagination-ellipsis {
  float: left;
  display: inline-block;
  line-height: 50px;
  margin: 3px 10px;
}

@media only screen and (max-width: 768px) {
  .site-wrapper .site-content .content-wrapper section.blog-container {
    padding-bottom: 30px;
  }
  .site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper {
    max-width: 100%;
    margin: 0px auto 30px;
  }
  .site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .img-wrapper {
    position: relative;
    margin-bottom: 50px;
  }
  .site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .img-wrapper > img {
    width: 100%;
    position: relative;
    z-index: 2;
    max-width: 100%;
  }
  .site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .img-wrapper aside.background-decoration .play-btn {
    position: absolute;
    z-index: 3;
    right: 13.5%;
    bottom: -13%;
    background-color: #353535;
    border-radius: 50%;
    display: inline-block;
    width: 18.9%;
    height: 27.3%;
    max-width: 102.5px;
    max-height: 102.5px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .img-wrapper aside.background-decoration .play-btn img {
    margin-top: calc((100% - 24px) / 2);
    margin-left: .3%;
    vertical-align: middle;
  }
  .site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .img-wrapper aside.background-decoration .play-btn.active {
    background-color: #af0f27;
  }
  .site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .img-wrapper aside.background-decoration .blog-cloud {
    position: absolute;
    left: -70px;
    bottom: -40px;
  }
  .site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .blog-description {
    margin: 0px auto 0px 3%;
  }
  .site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .blog-description .date-wrapper {
    max-width: 350px;
    text-align: left;
    font-family: content-font;
    font-size: 13.45px;
  }
  .site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .blog-description .date-wrapper span {
    vertical-align: middle;
  }
  .site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .blog-description h4.blog-title {
    text-align: left;
    max-width: 350px;
    margin-bottom: 20px;
    font-family: content-font-bold;
    font-size: 25.6px;
    line-height: 1.3;
  }
}

@media only screen and (max-width: 768px) and (max-width: 768px) {
  .site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .blog-description h4.blog-title {
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .blog-description > aside {
    border-left: 1px solid #dbdbdb;
    text-align: left;
    margin: 0px auto 0px 5%;
    padding-left: 5%;
  }
  .site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .blog-description > aside > p {
    font-family: content-font;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 25px;
  }
  .site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .blog-description > aside > div {
    font-family: content-font-light;
    font-size: 14px;
    color: #af0f27;
  }
  .site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper .blog-description > aside > div > a {
    color: #af0f27;
  }
  .site-wrapper .site-content .content-wrapper section.blog-container article.blog-wrapper.top-spacing {
    margin-top: 0px;
  }
  .site-wrapper .site-content .content-wrapper section.blog-container .blog-pagination {
    color: #a7a7a7;
    display: inline-block;
  }
  .site-wrapper .site-content .content-wrapper section.blog-container .blog-pagination > a.pagination-btn {
    float: left;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid #e8e8e8;
    font-family: content-font;
    color: #a7a7a7;
    font-size: 16px;
    margin: 3px;
  }
  .site-wrapper .site-content .content-wrapper section.blog-container .blog-pagination > a.pagination-btn:hover {
    text-decoration: none;
    background-color: #f3f2f2;
  }
  .site-wrapper .site-content .content-wrapper section.blog-container .blog-pagination > a.pagination-btn.current {
    background-color: #af0f27;
    color: white;
    border-color: #af0f27;
  }
  .site-wrapper .site-content .content-wrapper section.blog-container .blog-pagination > .pagination-ellipsis {
    float: left;
    display: inline-block;
    line-height: 50px;
    margin: 3px 10px;
  }
}

.site-wrapper .site-content .content-wrapper > section {
  position: relative;
}

.site-wrapper .site-content .content-wrapper > section .section-content {
  max-width: 1230px;
  padding: 0px 15px;
  margin: 0px auto;
  position: relative;
  z-index: 20;
}

.site-wrapper .site-content .content-wrapper > section .section-decoration > * {
  position: absolute;
  z-index: 1;
}

.site-wrapper .site-content > .background-decoration {
  overflow: hidden;
}

.site-wrapper .site-content > .background-decoration img {
  position: absolute;
  z-index: 2;
  bottom: 10px;
}

.site-wrapper .site-content > .background-decoration img.superman {
  top: 203px;
  left: calc(100% * 237 / 1920);
  z-index: 3;
}

@media only screen and (max-width: 1290px) {
  .site-wrapper .site-content > .background-decoration img.superman {
    top: calc(600px - 30vw);
  }
}

@media only screen and (max-width: 768px) {
  .site-wrapper .site-content > .background-decoration img.superman {
    top: calc(465px - 30vw);
  }
}

.site-wrapper .site-content > .background-decoration img.cloud1 {
  top: 105px;
  left: -230px;
}

.site-wrapper .site-content > .background-decoration img.cloud2 {
  top: 115px;
  right: calc(100% * 250 / 1920);
}

.site-wrapper .site-content > .background-decoration img.cloud3 {
  top: 483px;
  left: calc(100% * 120 / 1920);
}

.site-wrapper > footer {
  background-image: url("../images/footer-bg.png");
  background-position: top center;
  z-index: 1;
}

.custom-red-color {
  color: #af0f27;
}

* {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

@media only screen and (min-width: 991px) {
  .display-on-mobile {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .hide-on-mobile {
    display: none;
  }
}

.c-row {
  margin: 0px -15px;
  display: block;
}

.c-row:after {
  content: '';
  display: block;
  clear: both;
}

.c-row:before {
  content: '';
  display: block;
  clear: both;
}

.c-row > [class^='c-col-'] {
  display: block;
  padding: 0px 15px;
  float: left;
}

@media only screen and (min-width: 1200px) {
  .c-row .c-col-lg-0 {
    width: calc(100% * 0 / 60);
  }
  .c-row .c-col-lg-1 {
    width: calc(100% * 1 / 60);
  }
  .c-row .c-col-lg-2 {
    width: calc(100% * 2 / 60);
  }
  .c-row .c-col-lg-3 {
    width: calc(100% * 3 / 60);
  }
  .c-row .c-col-lg-4 {
    width: calc(100% * 4 / 60);
  }
  .c-row .c-col-lg-5 {
    width: calc(100% * 5 / 60);
  }
  .c-row .c-col-lg-6 {
    width: calc(100% * 6 / 60);
  }
  .c-row .c-col-lg-7 {
    width: calc(100% * 7 / 60);
  }
  .c-row .c-col-lg-8 {
    width: calc(100% * 8 / 60);
  }
  .c-row .c-col-lg-9 {
    width: calc(100% * 9 / 60);
  }
  .c-row .c-col-lg-10 {
    width: calc(100% * 10 / 60);
  }
  .c-row .c-col-lg-11 {
    width: calc(100% * 11 / 60);
  }
  .c-row .c-col-lg-12 {
    width: calc(100% * 12 / 60);
  }
  .c-row .c-col-lg-13 {
    width: calc(100% * 13 / 60);
  }
  .c-row .c-col-lg-14 {
    width: calc(100% * 14 / 60);
  }
  .c-row .c-col-lg-15 {
    width: calc(100% * 15 / 60);
  }
  .c-row .c-col-lg-16 {
    width: calc(100% * 16 / 60);
  }
  .c-row .c-col-lg-17 {
    width: calc(100% * 17 / 60);
  }
  .c-row .c-col-lg-18 {
    width: calc(100% * 18 / 60);
  }
  .c-row .c-col-lg-19 {
    width: calc(100% * 19 / 60);
  }
  .c-row .c-col-lg-20 {
    width: calc(100% * 20 / 60);
  }
  .c-row .c-col-lg-21 {
    width: calc(100% * 21 / 60);
  }
  .c-row .c-col-lg-22 {
    width: calc(100% * 22 / 60);
  }
  .c-row .c-col-lg-23 {
    width: calc(100% * 23 / 60);
  }
  .c-row .c-col-lg-24 {
    width: calc(100% * 24 / 60);
  }
  .c-row .c-col-lg-25 {
    width: calc(100% * 25 / 60);
  }
  .c-row .c-col-lg-26 {
    width: calc(100% * 26 / 60);
  }
  .c-row .c-col-lg-27 {
    width: calc(100% * 27 / 60);
  }
  .c-row .c-col-lg-28 {
    width: calc(100% * 28 / 60);
  }
  .c-row .c-col-lg-29 {
    width: calc(100% * 29 / 60);
  }
  .c-row .c-col-lg-30 {
    width: calc(100% * 30 / 60);
  }
  .c-row .c-col-lg-31 {
    width: calc(100% * 31 / 60);
  }
  .c-row .c-col-lg-32 {
    width: calc(100% * 32 / 60);
  }
  .c-row .c-col-lg-33 {
    width: calc(100% * 33 / 60);
  }
  .c-row .c-col-lg-34 {
    width: calc(100% * 34 / 60);
  }
  .c-row .c-col-lg-35 {
    width: calc(100% * 35 / 60);
  }
  .c-row .c-col-lg-36 {
    width: calc(100% * 36 / 60);
  }
  .c-row .c-col-lg-37 {
    width: calc(100% * 37 / 60);
  }
  .c-row .c-col-lg-38 {
    width: calc(100% * 38 / 60);
  }
  .c-row .c-col-lg-39 {
    width: calc(100% * 39 / 60);
  }
  .c-row .c-col-lg-40 {
    width: calc(100% * 40 / 60);
  }
  .c-row .c-col-lg-41 {
    width: calc(100% * 41 / 60);
  }
  .c-row .c-col-lg-42 {
    width: calc(100% * 42 / 60);
  }
  .c-row .c-col-lg-43 {
    width: calc(100% * 43 / 60);
  }
  .c-row .c-col-lg-44 {
    width: calc(100% * 44 / 60);
  }
  .c-row .c-col-lg-45 {
    width: calc(100% * 45 / 60);
  }
  .c-row .c-col-lg-46 {
    width: calc(100% * 46 / 60);
  }
  .c-row .c-col-lg-47 {
    width: calc(100% * 47 / 60);
  }
  .c-row .c-col-lg-48 {
    width: calc(100% * 48 / 60);
  }
  .c-row .c-col-lg-49 {
    width: calc(100% * 49 / 60);
  }
  .c-row .c-col-lg-50 {
    width: calc(100% * 50 / 60);
  }
  .c-row .c-col-lg-51 {
    width: calc(100% * 51 / 60);
  }
  .c-row .c-col-lg-52 {
    width: calc(100% * 52 / 60);
  }
  .c-row .c-col-lg-53 {
    width: calc(100% * 53 / 60);
  }
  .c-row .c-col-lg-54 {
    width: calc(100% * 54 / 60);
  }
  .c-row .c-col-lg-55 {
    width: calc(100% * 55 / 60);
  }
  .c-row .c-col-lg-56 {
    width: calc(100% * 56 / 60);
  }
  .c-row .c-col-lg-57 {
    width: calc(100% * 57 / 60);
  }
  .c-row .c-col-lg-58 {
    width: calc(100% * 58 / 60);
  }
  .c-row .c-col-lg-59 {
    width: calc(100% * 59 / 60);
  }
  .c-row .c-col-lg-60 {
    width: calc(100% * 60 / 60);
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .c-row .c-col-md-0 {
    width: calc(100% * 0 / 60);
  }
  .c-row .c-col-md-1 {
    width: calc(100% * 1 / 60);
  }
  .c-row .c-col-md-2 {
    width: calc(100% * 2 / 60);
  }
  .c-row .c-col-md-3 {
    width: calc(100% * 3 / 60);
  }
  .c-row .c-col-md-4 {
    width: calc(100% * 4 / 60);
  }
  .c-row .c-col-md-5 {
    width: calc(100% * 5 / 60);
  }
  .c-row .c-col-md-6 {
    width: calc(100% * 6 / 60);
  }
  .c-row .c-col-md-7 {
    width: calc(100% * 7 / 60);
  }
  .c-row .c-col-md-8 {
    width: calc(100% * 8 / 60);
  }
  .c-row .c-col-md-9 {
    width: calc(100% * 9 / 60);
  }
  .c-row .c-col-md-10 {
    width: calc(100% * 10 / 60);
  }
  .c-row .c-col-md-11 {
    width: calc(100% * 11 / 60);
  }
  .c-row .c-col-md-12 {
    width: calc(100% * 12 / 60);
  }
  .c-row .c-col-md-13 {
    width: calc(100% * 13 / 60);
  }
  .c-row .c-col-md-14 {
    width: calc(100% * 14 / 60);
  }
  .c-row .c-col-md-15 {
    width: calc(100% * 15 / 60);
  }
  .c-row .c-col-md-16 {
    width: calc(100% * 16 / 60);
  }
  .c-row .c-col-md-17 {
    width: calc(100% * 17 / 60);
  }
  .c-row .c-col-md-18 {
    width: calc(100% * 18 / 60);
  }
  .c-row .c-col-md-19 {
    width: calc(100% * 19 / 60);
  }
  .c-row .c-col-md-20 {
    width: calc(100% * 20 / 60);
  }
  .c-row .c-col-md-21 {
    width: calc(100% * 21 / 60);
  }
  .c-row .c-col-md-22 {
    width: calc(100% * 22 / 60);
  }
  .c-row .c-col-md-23 {
    width: calc(100% * 23 / 60);
  }
  .c-row .c-col-md-24 {
    width: calc(100% * 24 / 60);
  }
  .c-row .c-col-md-25 {
    width: calc(100% * 25 / 60);
  }
  .c-row .c-col-md-26 {
    width: calc(100% * 26 / 60);
  }
  .c-row .c-col-md-27 {
    width: calc(100% * 27 / 60);
  }
  .c-row .c-col-md-28 {
    width: calc(100% * 28 / 60);
  }
  .c-row .c-col-md-29 {
    width: calc(100% * 29 / 60);
  }
  .c-row .c-col-md-30 {
    width: calc(100% * 30 / 60);
  }
  .c-row .c-col-md-31 {
    width: calc(100% * 31 / 60);
  }
  .c-row .c-col-md-32 {
    width: calc(100% * 32 / 60);
  }
  .c-row .c-col-md-33 {
    width: calc(100% * 33 / 60);
  }
  .c-row .c-col-md-34 {
    width: calc(100% * 34 / 60);
  }
  .c-row .c-col-md-35 {
    width: calc(100% * 35 / 60);
  }
  .c-row .c-col-md-36 {
    width: calc(100% * 36 / 60);
  }
  .c-row .c-col-md-37 {
    width: calc(100% * 37 / 60);
  }
  .c-row .c-col-md-38 {
    width: calc(100% * 38 / 60);
  }
  .c-row .c-col-md-39 {
    width: calc(100% * 39 / 60);
  }
  .c-row .c-col-md-40 {
    width: calc(100% * 40 / 60);
  }
  .c-row .c-col-md-41 {
    width: calc(100% * 41 / 60);
  }
  .c-row .c-col-md-42 {
    width: calc(100% * 42 / 60);
  }
  .c-row .c-col-md-43 {
    width: calc(100% * 43 / 60);
  }
  .c-row .c-col-md-44 {
    width: calc(100% * 44 / 60);
  }
  .c-row .c-col-md-45 {
    width: calc(100% * 45 / 60);
  }
  .c-row .c-col-md-46 {
    width: calc(100% * 46 / 60);
  }
  .c-row .c-col-md-47 {
    width: calc(100% * 47 / 60);
  }
  .c-row .c-col-md-48 {
    width: calc(100% * 48 / 60);
  }
  .c-row .c-col-md-49 {
    width: calc(100% * 49 / 60);
  }
  .c-row .c-col-md-50 {
    width: calc(100% * 50 / 60);
  }
  .c-row .c-col-md-51 {
    width: calc(100% * 51 / 60);
  }
  .c-row .c-col-md-52 {
    width: calc(100% * 52 / 60);
  }
  .c-row .c-col-md-53 {
    width: calc(100% * 53 / 60);
  }
  .c-row .c-col-md-54 {
    width: calc(100% * 54 / 60);
  }
  .c-row .c-col-md-55 {
    width: calc(100% * 55 / 60);
  }
  .c-row .c-col-md-56 {
    width: calc(100% * 56 / 60);
  }
  .c-row .c-col-md-57 {
    width: calc(100% * 57 / 60);
  }
  .c-row .c-col-md-58 {
    width: calc(100% * 58 / 60);
  }
  .c-row .c-col-md-59 {
    width: calc(100% * 59 / 60);
  }
  .c-row .c-col-md-60 {
    width: calc(100% * 60 / 60);
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .c-row .c-col-sm-0 {
    width: calc(100% * 0 / 60);
  }
  .c-row .c-col-sm-1 {
    width: calc(100% * 1 / 60);
  }
  .c-row .c-col-sm-2 {
    width: calc(100% * 2 / 60);
  }
  .c-row .c-col-sm-3 {
    width: calc(100% * 3 / 60);
  }
  .c-row .c-col-sm-4 {
    width: calc(100% * 4 / 60);
  }
  .c-row .c-col-sm-5 {
    width: calc(100% * 5 / 60);
  }
  .c-row .c-col-sm-6 {
    width: calc(100% * 6 / 60);
  }
  .c-row .c-col-sm-7 {
    width: calc(100% * 7 / 60);
  }
  .c-row .c-col-sm-8 {
    width: calc(100% * 8 / 60);
  }
  .c-row .c-col-sm-9 {
    width: calc(100% * 9 / 60);
  }
  .c-row .c-col-sm-10 {
    width: calc(100% * 10 / 60);
  }
  .c-row .c-col-sm-11 {
    width: calc(100% * 11 / 60);
  }
  .c-row .c-col-sm-12 {
    width: calc(100% * 12 / 60);
  }
  .c-row .c-col-sm-13 {
    width: calc(100% * 13 / 60);
  }
  .c-row .c-col-sm-14 {
    width: calc(100% * 14 / 60);
  }
  .c-row .c-col-sm-15 {
    width: calc(100% * 15 / 60);
  }
  .c-row .c-col-sm-16 {
    width: calc(100% * 16 / 60);
  }
  .c-row .c-col-sm-17 {
    width: calc(100% * 17 / 60);
  }
  .c-row .c-col-sm-18 {
    width: calc(100% * 18 / 60);
  }
  .c-row .c-col-sm-19 {
    width: calc(100% * 19 / 60);
  }
  .c-row .c-col-sm-20 {
    width: calc(100% * 20 / 60);
  }
  .c-row .c-col-sm-21 {
    width: calc(100% * 21 / 60);
  }
  .c-row .c-col-sm-22 {
    width: calc(100% * 22 / 60);
  }
  .c-row .c-col-sm-23 {
    width: calc(100% * 23 / 60);
  }
  .c-row .c-col-sm-24 {
    width: calc(100% * 24 / 60);
  }
  .c-row .c-col-sm-25 {
    width: calc(100% * 25 / 60);
  }
  .c-row .c-col-sm-26 {
    width: calc(100% * 26 / 60);
  }
  .c-row .c-col-sm-27 {
    width: calc(100% * 27 / 60);
  }
  .c-row .c-col-sm-28 {
    width: calc(100% * 28 / 60);
  }
  .c-row .c-col-sm-29 {
    width: calc(100% * 29 / 60);
  }
  .c-row .c-col-sm-30 {
    width: calc(100% * 30 / 60);
  }
  .c-row .c-col-sm-31 {
    width: calc(100% * 31 / 60);
  }
  .c-row .c-col-sm-32 {
    width: calc(100% * 32 / 60);
  }
  .c-row .c-col-sm-33 {
    width: calc(100% * 33 / 60);
  }
  .c-row .c-col-sm-34 {
    width: calc(100% * 34 / 60);
  }
  .c-row .c-col-sm-35 {
    width: calc(100% * 35 / 60);
  }
  .c-row .c-col-sm-36 {
    width: calc(100% * 36 / 60);
  }
  .c-row .c-col-sm-37 {
    width: calc(100% * 37 / 60);
  }
  .c-row .c-col-sm-38 {
    width: calc(100% * 38 / 60);
  }
  .c-row .c-col-sm-39 {
    width: calc(100% * 39 / 60);
  }
  .c-row .c-col-sm-40 {
    width: calc(100% * 40 / 60);
  }
  .c-row .c-col-sm-41 {
    width: calc(100% * 41 / 60);
  }
  .c-row .c-col-sm-42 {
    width: calc(100% * 42 / 60);
  }
  .c-row .c-col-sm-43 {
    width: calc(100% * 43 / 60);
  }
  .c-row .c-col-sm-44 {
    width: calc(100% * 44 / 60);
  }
  .c-row .c-col-sm-45 {
    width: calc(100% * 45 / 60);
  }
  .c-row .c-col-sm-46 {
    width: calc(100% * 46 / 60);
  }
  .c-row .c-col-sm-47 {
    width: calc(100% * 47 / 60);
  }
  .c-row .c-col-sm-48 {
    width: calc(100% * 48 / 60);
  }
  .c-row .c-col-sm-49 {
    width: calc(100% * 49 / 60);
  }
  .c-row .c-col-sm-50 {
    width: calc(100% * 50 / 60);
  }
  .c-row .c-col-sm-51 {
    width: calc(100% * 51 / 60);
  }
  .c-row .c-col-sm-52 {
    width: calc(100% * 52 / 60);
  }
  .c-row .c-col-sm-53 {
    width: calc(100% * 53 / 60);
  }
  .c-row .c-col-sm-54 {
    width: calc(100% * 54 / 60);
  }
  .c-row .c-col-sm-55 {
    width: calc(100% * 55 / 60);
  }
  .c-row .c-col-sm-56 {
    width: calc(100% * 56 / 60);
  }
  .c-row .c-col-sm-57 {
    width: calc(100% * 57 / 60);
  }
  .c-row .c-col-sm-58 {
    width: calc(100% * 58 / 60);
  }
  .c-row .c-col-sm-59 {
    width: calc(100% * 59 / 60);
  }
  .c-row .c-col-sm-60 {
    width: calc(100% * 60 / 60);
  }
}

@media only screen and (max-width: 768px) {
  .c-row .c-col-xs-0 {
    width: calc(100% * 0 / 60);
  }
  .c-row .c-col-xs-1 {
    width: calc(100% * 1 / 60);
  }
  .c-row .c-col-xs-2 {
    width: calc(100% * 2 / 60);
  }
  .c-row .c-col-xs-3 {
    width: calc(100% * 3 / 60);
  }
  .c-row .c-col-xs-4 {
    width: calc(100% * 4 / 60);
  }
  .c-row .c-col-xs-5 {
    width: calc(100% * 5 / 60);
  }
  .c-row .c-col-xs-6 {
    width: calc(100% * 6 / 60);
  }
  .c-row .c-col-xs-7 {
    width: calc(100% * 7 / 60);
  }
  .c-row .c-col-xs-8 {
    width: calc(100% * 8 / 60);
  }
  .c-row .c-col-xs-9 {
    width: calc(100% * 9 / 60);
  }
  .c-row .c-col-xs-10 {
    width: calc(100% * 10 / 60);
  }
  .c-row .c-col-xs-11 {
    width: calc(100% * 11 / 60);
  }
  .c-row .c-col-xs-12 {
    width: calc(100% * 12 / 60);
  }
  .c-row .c-col-xs-13 {
    width: calc(100% * 13 / 60);
  }
  .c-row .c-col-xs-14 {
    width: calc(100% * 14 / 60);
  }
  .c-row .c-col-xs-15 {
    width: calc(100% * 15 / 60);
  }
  .c-row .c-col-xs-16 {
    width: calc(100% * 16 / 60);
  }
  .c-row .c-col-xs-17 {
    width: calc(100% * 17 / 60);
  }
  .c-row .c-col-xs-18 {
    width: calc(100% * 18 / 60);
  }
  .c-row .c-col-xs-19 {
    width: calc(100% * 19 / 60);
  }
  .c-row .c-col-xs-20 {
    width: calc(100% * 20 / 60);
  }
  .c-row .c-col-xs-21 {
    width: calc(100% * 21 / 60);
  }
  .c-row .c-col-xs-22 {
    width: calc(100% * 22 / 60);
  }
  .c-row .c-col-xs-23 {
    width: calc(100% * 23 / 60);
  }
  .c-row .c-col-xs-24 {
    width: calc(100% * 24 / 60);
  }
  .c-row .c-col-xs-25 {
    width: calc(100% * 25 / 60);
  }
  .c-row .c-col-xs-26 {
    width: calc(100% * 26 / 60);
  }
  .c-row .c-col-xs-27 {
    width: calc(100% * 27 / 60);
  }
  .c-row .c-col-xs-28 {
    width: calc(100% * 28 / 60);
  }
  .c-row .c-col-xs-29 {
    width: calc(100% * 29 / 60);
  }
  .c-row .c-col-xs-30 {
    width: calc(100% * 30 / 60);
  }
  .c-row .c-col-xs-31 {
    width: calc(100% * 31 / 60);
  }
  .c-row .c-col-xs-32 {
    width: calc(100% * 32 / 60);
  }
  .c-row .c-col-xs-33 {
    width: calc(100% * 33 / 60);
  }
  .c-row .c-col-xs-34 {
    width: calc(100% * 34 / 60);
  }
  .c-row .c-col-xs-35 {
    width: calc(100% * 35 / 60);
  }
  .c-row .c-col-xs-36 {
    width: calc(100% * 36 / 60);
  }
  .c-row .c-col-xs-37 {
    width: calc(100% * 37 / 60);
  }
  .c-row .c-col-xs-38 {
    width: calc(100% * 38 / 60);
  }
  .c-row .c-col-xs-39 {
    width: calc(100% * 39 / 60);
  }
  .c-row .c-col-xs-40 {
    width: calc(100% * 40 / 60);
  }
  .c-row .c-col-xs-41 {
    width: calc(100% * 41 / 60);
  }
  .c-row .c-col-xs-42 {
    width: calc(100% * 42 / 60);
  }
  .c-row .c-col-xs-43 {
    width: calc(100% * 43 / 60);
  }
  .c-row .c-col-xs-44 {
    width: calc(100% * 44 / 60);
  }
  .c-row .c-col-xs-45 {
    width: calc(100% * 45 / 60);
  }
  .c-row .c-col-xs-46 {
    width: calc(100% * 46 / 60);
  }
  .c-row .c-col-xs-47 {
    width: calc(100% * 47 / 60);
  }
  .c-row .c-col-xs-48 {
    width: calc(100% * 48 / 60);
  }
  .c-row .c-col-xs-49 {
    width: calc(100% * 49 / 60);
  }
  .c-row .c-col-xs-50 {
    width: calc(100% * 50 / 60);
  }
  .c-row .c-col-xs-51 {
    width: calc(100% * 51 / 60);
  }
  .c-row .c-col-xs-52 {
    width: calc(100% * 52 / 60);
  }
  .c-row .c-col-xs-53 {
    width: calc(100% * 53 / 60);
  }
  .c-row .c-col-xs-54 {
    width: calc(100% * 54 / 60);
  }
  .c-row .c-col-xs-55 {
    width: calc(100% * 55 / 60);
  }
  .c-row .c-col-xs-56 {
    width: calc(100% * 56 / 60);
  }
  .c-row .c-col-xs-57 {
    width: calc(100% * 57 / 60);
  }
  .c-row .c-col-xs-58 {
    width: calc(100% * 58 / 60);
  }
  .c-row .c-col-xs-59 {
    width: calc(100% * 59 / 60);
  }
  .c-row .c-col-xs-60 {
    width: calc(100% * 60 / 60);
  }
}
