$custom-red-color: #af0f27;
$custom-white-color: #fafbfb;
$content-color: #353535;
$transition-duration: .4s;
$content-title-size: 35px;
$content-body-size: 15px;
$site-title-size: 48px;

@font-face {
    font-family: title-font;
    src: url('../fonts/TitilliumWeb/TitilliumWeb-Black.ttf');
}
@font-face {
    font-family: title-font-bold;
    src: url('../fonts/TitilliumWeb/TitilliumWeb-Bold.ttf');
}
@font-face {
    font-family: content-title-font;
    src: url('../fonts/Montserrat/MONTSERRAT-BLACK.TTF');
}
@font-face {
    font-family: content-font;
    src: url('../fonts/Montserrat/MONTSERRAT-REGULAR.TTF');
}
@font-face {
    font-family: content-font-bold;
    src: url('../fonts/Montserrat/MONTSERRAT-BOLD.TTF');
}
@font-face {
    font-family: content-font-light;
    src: url('../fonts/Montserrat/MONTSERRAT-LIGHT.TTF');
}

h1.page-subtitle{
	font-family: content-title-font;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 0.6;
}
* {
    transition: all 0.4s;
}
section#banner{
	background-image: url("../images/banner.png");
	background-size:cover;
	background-repeat: no-repeat;
	height: 95vh;
	min-height: 700px;
	background-position: bottom center;
	.banner-logo{
		padding-top: 150px;
		img{
			width: 200px;
		}
	}
	.banner-title{
		margin-top: 75px;
		h1{
			font-family:  title-font;
			font-size: 75px;
			font-weight: 800;
		}
		p{
			font-size: 20px;
			font-weight: bold;

		}
	}
	.banner-action{
		margin-top: 50px;
	}
}
section#engaging{
	background: #b4102e;
	padding-top:60px;
	.engaging-title{
		h1{
			color: #fff;
		}
		p{
			color:#fff;
			line-height: 25px;
			margin-top:30px;
		}
	}
	.engaging-body{
		position: relative;
		width: 100%;
		padding-top:250px;

		.dotted{
			width: 80%;
			left: 10%;
		    height: 410px;
		    border-top: dotted 3px #fff;
		    border-top-left-radius: 50%;
		    border-top-right-radius: 50%;
		    position: absolute;
		    top:160px;
		    .play-white{
		    	position: absolute;
		    	left:25%;

		    }
		    .circle-engaging{
		    	width: 20px;
		    	height: 20px;
		    	border-radius: 10px;
		    	background: #fff;
		    	position: absolute;
		    	right:25%;
		    	margin-top:14px;
		    }
		}
		.col-md-4{
			display: block;
			text-align: center;
			img{
				margin:0 auto;
			}
			.engaging-item{
				padding-left: 50px;
				padding-right: 50px;
				color:#fff;
				h4{
					font-weight: bold;
				}
			}
		}
		.middle-engaging{
			margin-top:-14%;
		}
	}
	.engaging-content{
		p{
			margin-top:30px;
			color:#fff;
			font-size: 14px;
			line-height: 27px;
		}
	}
	.engaging-people{
		img{
			margin: 0 auto;
		}
	}
}
section#portfolio{
	background: #fff;
	padding-top:100px;
	.portfolio-slider{
		
	}
	#slider { width: 100%; }
    #slider li { width: 50%; }
	.mb-controls{
		display: none;
	}
	.movingBoxes{
		border:none;
		box-shadow:none;
	}
}
section#clients{
	.client-desc{
		.client-title{
			h1{
				color:#fff;
			}
		}
		.client-content{
			p{
				color:#fff;
				line-height: 30px;
				margin-right: 52px;
			}
		}

	}
	.client-carousel{
		width:340px;
		height: 385px;
		background: #fff;
		float: left;
		margin-right: 30px;
		p{
			color:red;
		}
	}
}
section#blog{
	padding-top: 50px;
	background: url("../images/blog-bg.png") no-repeat center top;
	background-size: cover;
	.blog-title{
		margin-bottom: 50px;
		h1{
			
		}
	}
	.blog_content{
		width: 100%;
		overflow: hidden;
		.blog-item-pic{
			display: inline-block;
			position: relative;
			width: 100%;
			img.blog-img{
				display: block;
				width: 100%;
			}
		}
		.blog-item-title{
			h3{
				font-weight: 600;
				line-height: 15px;
			}
		}
		.blog-item-content{
			margin-top: 40px;
			margin-bottom:100px;
		}
		.play-button{
			display: inline-block;
			position: absolute;
			bottom: -44px;
			right: 12%;
			z-index: 1;
		}
		.blog-item-left{
			padding-right: 20%;
			.blog-item-pic{
				margin-top:12%;
			}
			.blog-img{
				float: left;
			}
		}
		.blog-item-right{
			padding-left: 20%;
			.blog-item-pic{
				float: right;
				margin-top:12%;
			}

		}
		.blog-item-side-center{
			padding:0 3%;
			.blog-item-pic{
				margin:0 auto;
			}
		}

	}
}
@media screen and (max-width: 768px){
	h1.page-subtitle{
		line-height: 1;
	}
	section#banner{
		height: 95vh;
		min-height: 700px;
		background-position: bottom center;
		.banner-logo{
			padding-top: 130px;
			img{
				width: 150px;
			}
		}
		.banner-title{
			margin-top: 50px;
			h1{
				font-size: 54px;
			}
			p{
				font-size: 17px;
			}
		}
		.banner-action{
			margin-top: 50px;
		}
	}
	section#engaging{
		background: #b4102e;
		padding-top:60px;
		.engaging-title{
			h1{
				color: #fff;
			}
			p{
				color:#fff;
				line-height: 25px;
				margin-top:30px;
			}
		}
		.engaging-body{
			padding-top:160px;
			.dotted{
				width: 80%;
			    left: 10%;
			    height: 200px;
			    border-top: dotted 3px #fff;
			    border-top-left-radius: 60%;
			    border-top-right-radius: 60%;
			    position: absolute;
			    top: 100px;
			    .play-white{
			    	position: absolute;
			    	left:11%;

			    }
			    .circle-engaging{
			    	width: 20px;
			    	height: 20px;
			    	border-radius: 10px;
			    	background: #fff;
			    	position: absolute;
			    	right:11%;
			    	margin-top:15px;
			    }
			}
			.col-md-4{
				display: block;
				text-align: center;
				padding-left: 5px;
				padding-right: 5px;
				img{
					width:76.5px;
				}
				.engaging-item{
					padding:0;
					h4{
						font-weight: bold;
					}
					p{
						font-size: 12px;
					}
				}
			}
			.middle-engaging{
				margin-top:-100px;
			}
		}
		.engaging-content{
			p{
				margin-top:30px;
				color:#fff;
				font-size: 14px;
				line-height: 27px;
			}
		}
		.engaging-people{
			img{
				margin: 0 auto;
			}
		}
	}
}