@font-face {
  font-family: title-font;
  src: url("../fonts/TitilliumWeb/TitilliumWeb-Black.ttf"); }
@font-face {
  font-family: title-font-bold;
  src: url("../fonts/TitilliumWeb/TitilliumWeb-Bold.ttf"); }
@font-face {
  font-family: content-title-font;
  src: url("../fonts/Montserrat/MONTSERRAT-BLACK.TTF"); }
@font-face {
  font-family: content-font;
  src: url("../fonts/Montserrat/MONTSERRAT-REGULAR.TTF"); }
@font-face {
  font-family: content-font-bold;
  src: url("../fonts/Montserrat/MONTSERRAT-BOLD.TTF"); }
@font-face {
  font-family: content-font-light;
  src: url("../fonts/Montserrat/MONTSERRAT-LIGHT.TTF"); }
h1.page-subtitle {
  font-family: content-title-font;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 0.6; }

* {
  transition: all 0.4s; }

section#banner {
  background-image: url("../images/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 95vh;
  min-height: 700px;
  background-position: bottom center; }
  section#banner .banner-logo {
    padding-top: 150px; }
    section#banner .banner-logo img {
      width: 200px; }
  section#banner .banner-title {
    margin-top: 75px; }
    section#banner .banner-title h1 {
      font-family: title-font;
      font-size: 75px;
      font-weight: 800; }
    section#banner .banner-title p {
      font-size: 20px;
      font-weight: bold; }
  section#banner .banner-action {
    margin-top: 50px; }

section#engaging {
  background: #b4102e;
  padding-top: 60px; }
  section#engaging .engaging-title h1 {
    color: #fff; }
  section#engaging .engaging-title p {
    color: #fff;
    line-height: 25px;
    margin-top: 30px; }
  section#engaging .engaging-body {
    position: relative;
    width: 100%;
    padding-top: 250px; }
    section#engaging .engaging-body .dotted {
      width: 80%;
      left: 10%;
      height: 410px;
      border-top: dotted 3px #fff;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      position: absolute;
      top: 160px; }
      section#engaging .engaging-body .dotted .play-white {
        position: absolute;
        left: 25%; }
      section#engaging .engaging-body .dotted .circle-engaging {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background: #fff;
        position: absolute;
        right: 25%;
        margin-top: 14px; }
    section#engaging .engaging-body .col-md-4 {
      display: block;
      text-align: center; }
      section#engaging .engaging-body .col-md-4 img {
        margin: 0 auto; }
      section#engaging .engaging-body .col-md-4 .engaging-item {
        padding-left: 50px;
        padding-right: 50px;
        color: #fff; }
        section#engaging .engaging-body .col-md-4 .engaging-item h4 {
          font-weight: bold; }
    section#engaging .engaging-body .middle-engaging {
      margin-top: -14%; }
  section#engaging .engaging-content p {
    margin-top: 30px;
    color: #fff;
    font-size: 14px;
    line-height: 27px; }
  section#engaging .engaging-people img {
    margin: 0 auto; }

section#portfolio {
  background: #fff;
  padding-top: 100px; }
  section#portfolio #slider {
    width: 100%; }
  section#portfolio #slider li {
    width: 50%; }
  section#portfolio .mb-controls {
    display: none; }
  section#portfolio .movingBoxes {
    border: none;
    box-shadow: none; }

section#clients .client-desc .client-title h1 {
  color: #fff; }
section#clients .client-desc .client-content p {
  color: #fff;
  line-height: 30px;
  margin-right: 52px; }
section#clients .client-carousel {
  width: 340px;
  height: 385px;
  background: #fff;
  float: left;
  margin-right: 30px; }
  section#clients .client-carousel p {
    color: red; }

section#blog {
  padding-top: 50px;
  background: url("../images/blog-bg.png") no-repeat center top;
  background-size: cover; }
  section#blog .blog-title {
    margin-bottom: 50px; }
  section#blog .blog_content {
    width: 100%;
    overflow: hidden; }
    section#blog .blog_content .blog-item-pic {
      display: inline-block;
      position: relative;
      width: 100%; }
      section#blog .blog_content .blog-item-pic img.blog-img {
        display: block;
        width: 100%; }
    section#blog .blog_content .blog-item-title h3 {
      font-weight: 600;
      line-height: 15px; }
    section#blog .blog_content .blog-item-content {
      margin-top: 40px;
      margin-bottom: 100px; }
    section#blog .blog_content .play-button {
      display: inline-block;
      position: absolute;
      bottom: -44px;
      right: 12%;
      z-index: 1; }
    section#blog .blog_content .blog-item-left {
      padding-right: 20%; }
      section#blog .blog_content .blog-item-left .blog-item-pic {
        margin-top: 12%; }
      section#blog .blog_content .blog-item-left .blog-img {
        float: left; }
    section#blog .blog_content .blog-item-right {
      padding-left: 20%; }
      section#blog .blog_content .blog-item-right .blog-item-pic {
        float: right;
        margin-top: 12%; }
    section#blog .blog_content .blog-item-side-center {
      padding: 0 3%; }
      section#blog .blog_content .blog-item-side-center .blog-item-pic {
        margin: 0 auto; }

@media screen and (max-width: 768px) {
  h1.page-subtitle {
    line-height: 1; }

  section#banner {
    height: 95vh;
    min-height: 700px;
    background-position: bottom center; }
    section#banner .banner-logo {
      padding-top: 130px; }
      section#banner .banner-logo img {
        width: 150px; }
    section#banner .banner-title {
      margin-top: 50px; }
      section#banner .banner-title h1 {
        font-size: 54px; }
      section#banner .banner-title p {
        font-size: 17px; }
    section#banner .banner-action {
      margin-top: 50px; }

  section#engaging {
    background: #b4102e;
    padding-top: 60px; }
    section#engaging .engaging-title h1 {
      color: #fff; }
    section#engaging .engaging-title p {
      color: #fff;
      line-height: 25px;
      margin-top: 30px; }
    section#engaging .engaging-body {
      padding-top: 160px; }
      section#engaging .engaging-body .dotted {
        width: 80%;
        left: 10%;
        height: 200px;
        border-top: dotted 3px #fff;
        border-top-left-radius: 60%;
        border-top-right-radius: 60%;
        position: absolute;
        top: 100px; }
        section#engaging .engaging-body .dotted .play-white {
          position: absolute;
          left: 11%; }
        section#engaging .engaging-body .dotted .circle-engaging {
          width: 20px;
          height: 20px;
          border-radius: 10px;
          background: #fff;
          position: absolute;
          right: 11%;
          margin-top: 15px; }
      section#engaging .engaging-body .col-md-4 {
        display: block;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px; }
        section#engaging .engaging-body .col-md-4 img {
          width: 76.5px; }
        section#engaging .engaging-body .col-md-4 .engaging-item {
          padding: 0; }
          section#engaging .engaging-body .col-md-4 .engaging-item h4 {
            font-weight: bold; }
          section#engaging .engaging-body .col-md-4 .engaging-item p {
            font-size: 12px; }
      section#engaging .engaging-body .middle-engaging {
        margin-top: -100px; }
    section#engaging .engaging-content p {
      margin-top: 30px;
      color: #fff;
      font-size: 14px;
      line-height: 27px; }
    section#engaging .engaging-people img {
      margin: 0 auto; } }
