@font-face {
  font-family: title-font;
  src: url("../fonts/TitilliumWeb/TitilliumWeb-Black.ttf"); }

@font-face {
  font-family: title-font-bold;
  src: url("../fonts/TitilliumWeb/TitilliumWeb-Bold.ttf"); }

@font-face {
  font-family: content-title-font;
  src: url("../fonts/Montserrat/MONTSERRAT-BLACK.TTF"); }

@font-face {
  font-family: content-font;
  src: url("../fonts/Montserrat/MONTSERRAT-REGULAR.TTF"); }

@font-face {
  font-family: content-font-bold;
  src: url("../fonts/Montserrat/MONTSERRAT-BOLD.TTF"); }

@font-face {
  font-family: content-font-light;
  src: url("../fonts/Montserrat/MONTSERRAT-LIGHT.TTF"); }

.site-wrapper {
  background-color: #fdfcfc;
  background-image: url("images/bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  font-family: content-font; }
  .site-wrapper > header {
    position: relative;
    z-index: 4; }
  .site-wrapper .site-content {
    background-color: transparent;
    position: relative;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    width: 100%;
    margin-top: -40px; }
    .site-wrapper .site-content .content-wrapper {
      margin: 0px auto;
      text-align: center;
      padding: 10px 0px; }
      .site-wrapper .site-content .content-wrapper section.our-super-portfolio {
        position: relative;
        margin-top: 60px; }
        .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-content {
          max-width: 1406px;
          padding: 0px 15px;
          margin: 0px auto;
          position: relative;
          padding-bottom: 100px; }
          .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-content > header h2 {
            font-family: title-font;
            font-size: 48px;
            text-transform: uppercase;
            margin-bottom: 40px; }
            @media only screen and (max-width: 900px) {
              .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-content > header h2 {
                padding-top: 70px; } }
          .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-content > header p {
            max-width: 780px;
            margin: 0px auto 70px;
            font-family: content-font;
            font-size: 22px;
            line-height: 1.9; }
          .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-content .section-body {
            position: relative;
            text-align: left; }
            .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-content .section-body > img {
              margin-left: -2%;
              width: 91.8%; }
            @media only screen and (min-width: 991px) and (max-width: 1355px) {
              .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-content .section-body {
                text-align: right;
                padding-right: calc(300px - 10vw); }
                .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-content .section-body > img {
                  width: 100%; } }
            @media only screen and (max-width: 991px) {
              .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-content .section-body {
                text-align: center;
                padding-left: 15px;
                padding-right: 15px; }
                .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-content .section-body > img {
                  width: 100%; } }
            .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-content .section-body aside {
              position: absolute;
              top: 9%;
              left: 78%;
              right: 0px;
              text-align: left; }
              @media only screen and (max-width: 1355px) {
                .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-content .section-body aside {
                  width: 295px;
                  left: auto; } }
              .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-content .section-body aside h4 {
                font-family: content-title-font;
                font-size: 14px;
                text-transform: uppercase;
                margin-bottom: 5px; }
              .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-content .section-body aside h3 {
                margin-top: 0px;
                font-family: content-title-font;
                font-size: 33.36px;
                text-transform: uppercase;
                margin-bottom: 20px;
                word-break: break-all; }
              .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-content .section-body aside a {
                font-family: content-font;
                font-size: 16.31px;
                text-decoration: underline; }
              @media only screen and (max-width: 991px) {
                .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-content .section-body aside {
                  position: static;
                  text-align: center;
                  margin: 0px auto; } }
        .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-decoration > img {
          position: absolute; }
        .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-decoration .superman {
          bottom: 0px;
          right: 0px; }
          @media only screen and (max-width: 1260px) {
            .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-decoration .superman {
              display: none; } }
        .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-decoration .cloud-1 {
          top: 90px;
          left: calc(100% * 90 / 1920); }
          @media only screen and (max-width: 1250px) {
            .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-decoration .cloud-1 {
              top: -30px; } }
        .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-decoration .cloud-2 {
          top: 374px;
          left: calc(100% * 63 / 1920); }
        .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-decoration .cloud-3 {
          top: 155px;
          left: calc(100% * 415 / 1920); }
          @media only screen and (max-width: 1250px) {
            .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-decoration .cloud-3 {
              top: 250px; } }
          @media only screen and (max-width: 475px) {
            .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-decoration .cloud-3 {
              display: none; } }
        .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-decoration .cloud-4 {
          top: 55px;
          right: calc(100% * 125 / 1920); }
          @media only screen and (max-width: 1250px) {
            .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-decoration .cloud-4 {
              top: -30px;
              right: calc(100% * 10 / 1920); } }
        .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-decoration .cloud-5 {
          top: 400px;
          right: calc(100% * 40 / 1920); }
        @media only screen and (max-width: 768px) {
          .site-wrapper .site-content .content-wrapper section.our-super-portfolio {
            margin-top: 30px; }
            .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-content {
              padding-bottom: 10px; }
              .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-content > header h2 {
                font-size: 40px;
                margin-bottom: 20px; }
              .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-content > header p {
                max-width: 780px;
                margin: 0px auto 30px;
                font-family: content-font;
                font-size: 18px;
                line-height: 1.9; }
              .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-content .section-body aside h4 {
                font-family: content-title-font;
                font-size: 12px;
                text-transform: uppercase;
                margin-bottom: 5px; }
              .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-content .section-body aside h3 {
                margin-top: 0px;
                font-family: content-title-font;
                font-size: 20px;
                text-transform: uppercase;
                margin-bottom: 20px; }
              .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-content .section-body aside a {
                font-family: content-font;
                font-size: 14px;
                text-decoration: underline; }
            .site-wrapper .site-content .content-wrapper section.our-super-portfolio .section-decoration .superman {
              bottom: 0px;
              right: 0px; } }
      .site-wrapper .site-content .content-wrapper section.portfolio-container {
        max-width: 1406px;
        padding: 35px 15px 0px;
        margin: 0px auto; }
        .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-large {
          position: relative;
          margin-bottom: 100px; }
          .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-large > img {
            width: 100%; }
          .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-large .top-left.category {
            position: absolute;
            top: 40px;
            left: 45px;
            font-family: content-title-font;
            font-size: 15px;
            color: white;
            text-transform: uppercase; }
            .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-large .top-left.category img {
              vertical-align: middle; }
          .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-large .portfolio-info {
            position: absolute;
            top: calc((100% - 142px) / 2);
            left: 0px;
            width: 100%; }
            .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-large .portfolio-info h3.client {
              font-family: content-title-font;
              font-size: 50px;
              text-transform: uppercase;
              color: white;
              margin-bottom: 35px; }
            .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-large .portfolio-info h6.location {
              margin-top: 0px;
              font-family: content-font;
              font-size: 20px;
              color: white;
              text-decoration: underline; }
          .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-large .btn.btn-default.bottom-right {
            display: none;
            position: absolute;
            bottom: 0px;
            right: 0px;
            border-radius: 0px;
            background-color: white;
            font-family: content-title-font;
            font-size: 15px;
            color: #0b090f;
            text-transform: uppercase;
            padding: 28px 42px; }
            .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-large .btn.btn-default.bottom-right .right.carousel-control {
              background-image: none;
              display: inline-block;
              position: static;
              opacity: 1;
              padding: 0px 10px 0px 0px;
              border: none;
              width: auto;
              margin-left: 10px; }
          .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-large:hover .btn.btn-default.bottom-right {
            display: initial; }
          .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-large:last-child {
            margin-bottom: 0px; }
          @media only screen and (max-width: 768px) {
            .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-large {
              margin-bottom: 20px; }
              .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-large .top-left.category {
                position: absolute;
                top: 25px;
                left: 30px;
                font-family: content-title-font;
                font-size: 15px;
                color: white;
                text-transform: uppercase; }
                .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-large .top-left.category img {
                  vertical-align: middle; }
              .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-large .portfolio-info {
                position: absolute;
                top: calc((100% - 108px) / 2);
                left: 0px;
                width: 100%; }
                .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-large .portfolio-info h3.client {
                  font-family: content-title-font;
                  font-size: 38px;
                  text-transform: uppercase;
                  color: white;
                  margin-bottom: 15px; }
                .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-large .portfolio-info h6.location {
                  margin-top: 0px;
                  font-family: content-font;
                  font-size: 20px;
                  color: white;
                  text-decoration: underline; } }
    @media only screen and (max-width: 768px) and (max-width: 500px) {
      .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-large .portfolio-info {
        top: calc((100% - 84px) / 2);
        left: 0px;
        width: 100%; }
        .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-large .portfolio-info h3.client {
          font-family: content-title-font;
          font-size: 28px;
          text-transform: uppercase;
          color: white;
          margin-bottom: 5px; }
        .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-large .portfolio-info h6.location {
          margin-top: 0px;
          font-family: content-font;
          font-size: 18px;
          color: white;
          text-decoration: underline; } }
          @media only screen and (max-width: 768px) {
              .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-large .btn.btn-default.bottom-right {
                display: none;
                position: absolute;
                bottom: 0px;
                right: 0px;
                border-radius: 0px;
                background-color: white;
                font-family: content-title-font;
                font-size: 12px;
                color: #0b090f;
                text-transform: uppercase;
                padding: 15px 20px; } }
    @media only screen and (max-width: 768px) and (max-width: 500px) {
      .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-large .btn.btn-default.bottom-right {
        padding: 5px 15px; } }
          @media only screen and (max-width: 768px) {
                .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-large .btn.btn-default.bottom-right .right.carousel-control {
                  background-image: none;
                  display: inline-block;
                  position: static;
                  opacity: 1;
                  padding: 0px 10px 0px 0px;
                  border: none;
                  width: auto;
                  margin-left: 10px; } }
        .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-mediumn {
          padding-top: 30px;
          margin: 35px 0px;
          background-size: 100% 100%; }
          .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-mediumn header h3.client {
            font-family: content-title-font;
            font-size: 30px;
            color: white;
            text-transform: uppercase;
            margin-bottom: 15px; }
          .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-mediumn header a.location {
            font-family: content-font;
            font-size: 15.4px;
            text-decoration: underline;
            margin: 10px 0;
            line-height: 1.1; }
          .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-mediumn .device-wrapper {
            margin-bottom: -30px;
            height: 330px; }
            @media only screen and (min-width: 992px) and (max-width: 1180px) {
              .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-mediumn .device-wrapper {
                height: 28vw; } }
            @media only screen and (max-width: 560px) {
              .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-mediumn .device-wrapper {
                height: 65vw; } }
            .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-mediumn .device-wrapper img {
              max-width: 100%; }
          .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-mediumn footer {
            line-height: 62px; }
            .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-mediumn footer .category {
              vertical-align: middle;
              display: inline-block;
              float: left;
              margin-left: 45px;
              font-family: content-title-font;
              font-size: 15px;
              color: #353535;
              text-transform: uppercase; }
            .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-mediumn footer .btn.btn-default {
              border-radius: 0px;
              border: none;
              padding: 20px 35px;
              vertical-align: middle;
              float: right; }
          @media only screen and (max-width: 500px) {
            .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-mediumn {
              padding-top: 20px;
              margin: 15px 0px; }
              .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-mediumn header h3.client {
                font-size: 25px;
                margin-bottom: 10px; }
              .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-mediumn header h5.location {
                font-size: 13px; }
              .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-mediumn .device-wrapper {
                margin-bottom: -30px; }
              .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-mediumn footer {
                line-height: 62px; }
                .site-wrapper .site-content .content-wrapper section.portfolio-container .portfolio-mediumn footer .category {
                  margin-left: 25px;
                  font-size: 15px;
                  color: #353535;
                  text-transform: uppercase; } }
        .site-wrapper .site-content .content-wrapper section.portfolio-container .load-more-project {
          margin-top: 65px; }
          .site-wrapper .site-content .content-wrapper section.portfolio-container .load-more-project .btn.btn-default {
            padding: 30px 100px;
            border: 1px solid #bababa;
            border-radius: 0px;
            color: #353535;
            font-family: content-font-bold;
            font-size: 15px;
            text-transform: uppercase; }
            .site-wrapper .site-content .content-wrapper section.portfolio-container .load-more-project .btn.btn-default:hover {
              background-color: #bababa;
              color: white; }
          @media only screen and (max-width: 500px) {
            .site-wrapper .site-content .content-wrapper section.portfolio-container .load-more-project {
              margin-top: 25px; }
              .site-wrapper .site-content .content-wrapper section.portfolio-container .load-more-project .btn.btn-default {
                padding: 15px 50px;
                font-size: 15px; } }
    .site-wrapper .site-content > .background-decoration {
      overflow: hidden; }
      .site-wrapper .site-content > .background-decoration img {
        position: absolute;
        z-index: 2;
        bottom: 10px; }
  .site-wrapper > footer {
    background-image: url("../images/footer-bg.png");
    background-position: top center;
    z-index: 1; }

.custom-red-color {
  color: #af0f27; }

* {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

@media only screen and (min-width: 991px) {
  .display-on-mobile {
    display: none; } }

@media only screen and (max-width: 991px) {
  .hide-on-mobile {
    display: none; } }

.c-row {
  margin: 0px -34px;
  display: block; }
  .c-row:after {
    content: '';
    display: block;
    clear: both; }
  .c-row:before {
    content: '';
    display: block;
    clear: both; }
  .c-row > [class^='c-col-'] {
    display: block;
    padding: 0px 34px;
    float: left; }
  @media only screen and (min-width: 1200px) {
    .c-row .c-col-lg-0 {
      width: calc(100% * 0 / 60); }
    .c-row .c-col-lg-1 {
      width: calc(100% * 1 / 60); }
    .c-row .c-col-lg-2 {
      width: calc(100% * 2 / 60); }
    .c-row .c-col-lg-3 {
      width: calc(100% * 3 / 60); }
    .c-row .c-col-lg-4 {
      width: calc(100% * 4 / 60); }
    .c-row .c-col-lg-5 {
      width: calc(100% * 5 / 60); }
    .c-row .c-col-lg-6 {
      width: calc(100% * 6 / 60); }
    .c-row .c-col-lg-7 {
      width: calc(100% * 7 / 60); }
    .c-row .c-col-lg-8 {
      width: calc(100% * 8 / 60); }
    .c-row .c-col-lg-9 {
      width: calc(100% * 9 / 60); }
    .c-row .c-col-lg-10 {
      width: calc(100% * 10 / 60); }
    .c-row .c-col-lg-11 {
      width: calc(100% * 11 / 60); }
    .c-row .c-col-lg-12 {
      width: calc(100% * 12 / 60); }
    .c-row .c-col-lg-13 {
      width: calc(100% * 13 / 60); }
    .c-row .c-col-lg-14 {
      width: calc(100% * 14 / 60); }
    .c-row .c-col-lg-15 {
      width: calc(100% * 15 / 60); }
    .c-row .c-col-lg-16 {
      width: calc(100% * 16 / 60); }
    .c-row .c-col-lg-17 {
      width: calc(100% * 17 / 60); }
    .c-row .c-col-lg-18 {
      width: calc(100% * 18 / 60); }
    .c-row .c-col-lg-19 {
      width: calc(100% * 19 / 60); }
    .c-row .c-col-lg-20 {
      width: calc(100% * 20 / 60); }
    .c-row .c-col-lg-21 {
      width: calc(100% * 21 / 60); }
    .c-row .c-col-lg-22 {
      width: calc(100% * 22 / 60); }
    .c-row .c-col-lg-23 {
      width: calc(100% * 23 / 60); }
    .c-row .c-col-lg-24 {
      width: calc(100% * 24 / 60); }
    .c-row .c-col-lg-25 {
      width: calc(100% * 25 / 60); }
    .c-row .c-col-lg-26 {
      width: calc(100% * 26 / 60); }
    .c-row .c-col-lg-27 {
      width: calc(100% * 27 / 60); }
    .c-row .c-col-lg-28 {
      width: calc(100% * 28 / 60); }
    .c-row .c-col-lg-29 {
      width: calc(100% * 29 / 60); }
    .c-row .c-col-lg-30 {
      width: calc(100% * 30 / 60); }
    .c-row .c-col-lg-31 {
      width: calc(100% * 31 / 60); }
    .c-row .c-col-lg-32 {
      width: calc(100% * 32 / 60); }
    .c-row .c-col-lg-33 {
      width: calc(100% * 33 / 60); }
    .c-row .c-col-lg-34 {
      width: calc(100% * 34 / 60); }
    .c-row .c-col-lg-35 {
      width: calc(100% * 35 / 60); }
    .c-row .c-col-lg-36 {
      width: calc(100% * 36 / 60); }
    .c-row .c-col-lg-37 {
      width: calc(100% * 37 / 60); }
    .c-row .c-col-lg-38 {
      width: calc(100% * 38 / 60); }
    .c-row .c-col-lg-39 {
      width: calc(100% * 39 / 60); }
    .c-row .c-col-lg-40 {
      width: calc(100% * 40 / 60); }
    .c-row .c-col-lg-41 {
      width: calc(100% * 41 / 60); }
    .c-row .c-col-lg-42 {
      width: calc(100% * 42 / 60); }
    .c-row .c-col-lg-43 {
      width: calc(100% * 43 / 60); }
    .c-row .c-col-lg-44 {
      width: calc(100% * 44 / 60); }
    .c-row .c-col-lg-45 {
      width: calc(100% * 45 / 60); }
    .c-row .c-col-lg-46 {
      width: calc(100% * 46 / 60); }
    .c-row .c-col-lg-47 {
      width: calc(100% * 47 / 60); }
    .c-row .c-col-lg-48 {
      width: calc(100% * 48 / 60); }
    .c-row .c-col-lg-49 {
      width: calc(100% * 49 / 60); }
    .c-row .c-col-lg-50 {
      width: calc(100% * 50 / 60); }
    .c-row .c-col-lg-51 {
      width: calc(100% * 51 / 60); }
    .c-row .c-col-lg-52 {
      width: calc(100% * 52 / 60); }
    .c-row .c-col-lg-53 {
      width: calc(100% * 53 / 60); }
    .c-row .c-col-lg-54 {
      width: calc(100% * 54 / 60); }
    .c-row .c-col-lg-55 {
      width: calc(100% * 55 / 60); }
    .c-row .c-col-lg-56 {
      width: calc(100% * 56 / 60); }
    .c-row .c-col-lg-57 {
      width: calc(100% * 57 / 60); }
    .c-row .c-col-lg-58 {
      width: calc(100% * 58 / 60); }
    .c-row .c-col-lg-59 {
      width: calc(100% * 59 / 60); }
    .c-row .c-col-lg-60 {
      width: calc(100% * 60 / 60); } }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .c-row .c-col-md-0 {
      width: calc(100% * 0 / 60); }
    .c-row .c-col-md-1 {
      width: calc(100% * 1 / 60); }
    .c-row .c-col-md-2 {
      width: calc(100% * 2 / 60); }
    .c-row .c-col-md-3 {
      width: calc(100% * 3 / 60); }
    .c-row .c-col-md-4 {
      width: calc(100% * 4 / 60); }
    .c-row .c-col-md-5 {
      width: calc(100% * 5 / 60); }
    .c-row .c-col-md-6 {
      width: calc(100% * 6 / 60); }
    .c-row .c-col-md-7 {
      width: calc(100% * 7 / 60); }
    .c-row .c-col-md-8 {
      width: calc(100% * 8 / 60); }
    .c-row .c-col-md-9 {
      width: calc(100% * 9 / 60); }
    .c-row .c-col-md-10 {
      width: calc(100% * 10 / 60); }
    .c-row .c-col-md-11 {
      width: calc(100% * 11 / 60); }
    .c-row .c-col-md-12 {
      width: calc(100% * 12 / 60); }
    .c-row .c-col-md-13 {
      width: calc(100% * 13 / 60); }
    .c-row .c-col-md-14 {
      width: calc(100% * 14 / 60); }
    .c-row .c-col-md-15 {
      width: calc(100% * 15 / 60); }
    .c-row .c-col-md-16 {
      width: calc(100% * 16 / 60); }
    .c-row .c-col-md-17 {
      width: calc(100% * 17 / 60); }
    .c-row .c-col-md-18 {
      width: calc(100% * 18 / 60); }
    .c-row .c-col-md-19 {
      width: calc(100% * 19 / 60); }
    .c-row .c-col-md-20 {
      width: calc(100% * 20 / 60); }
    .c-row .c-col-md-21 {
      width: calc(100% * 21 / 60); }
    .c-row .c-col-md-22 {
      width: calc(100% * 22 / 60); }
    .c-row .c-col-md-23 {
      width: calc(100% * 23 / 60); }
    .c-row .c-col-md-24 {
      width: calc(100% * 24 / 60); }
    .c-row .c-col-md-25 {
      width: calc(100% * 25 / 60); }
    .c-row .c-col-md-26 {
      width: calc(100% * 26 / 60); }
    .c-row .c-col-md-27 {
      width: calc(100% * 27 / 60); }
    .c-row .c-col-md-28 {
      width: calc(100% * 28 / 60); }
    .c-row .c-col-md-29 {
      width: calc(100% * 29 / 60); }
    .c-row .c-col-md-30 {
      width: calc(100% * 30 / 60); }
    .c-row .c-col-md-31 {
      width: calc(100% * 31 / 60); }
    .c-row .c-col-md-32 {
      width: calc(100% * 32 / 60); }
    .c-row .c-col-md-33 {
      width: calc(100% * 33 / 60); }
    .c-row .c-col-md-34 {
      width: calc(100% * 34 / 60); }
    .c-row .c-col-md-35 {
      width: calc(100% * 35 / 60); }
    .c-row .c-col-md-36 {
      width: calc(100% * 36 / 60); }
    .c-row .c-col-md-37 {
      width: calc(100% * 37 / 60); }
    .c-row .c-col-md-38 {
      width: calc(100% * 38 / 60); }
    .c-row .c-col-md-39 {
      width: calc(100% * 39 / 60); }
    .c-row .c-col-md-40 {
      width: calc(100% * 40 / 60); }
    .c-row .c-col-md-41 {
      width: calc(100% * 41 / 60); }
    .c-row .c-col-md-42 {
      width: calc(100% * 42 / 60); }
    .c-row .c-col-md-43 {
      width: calc(100% * 43 / 60); }
    .c-row .c-col-md-44 {
      width: calc(100% * 44 / 60); }
    .c-row .c-col-md-45 {
      width: calc(100% * 45 / 60); }
    .c-row .c-col-md-46 {
      width: calc(100% * 46 / 60); }
    .c-row .c-col-md-47 {
      width: calc(100% * 47 / 60); }
    .c-row .c-col-md-48 {
      width: calc(100% * 48 / 60); }
    .c-row .c-col-md-49 {
      width: calc(100% * 49 / 60); }
    .c-row .c-col-md-50 {
      width: calc(100% * 50 / 60); }
    .c-row .c-col-md-51 {
      width: calc(100% * 51 / 60); }
    .c-row .c-col-md-52 {
      width: calc(100% * 52 / 60); }
    .c-row .c-col-md-53 {
      width: calc(100% * 53 / 60); }
    .c-row .c-col-md-54 {
      width: calc(100% * 54 / 60); }
    .c-row .c-col-md-55 {
      width: calc(100% * 55 / 60); }
    .c-row .c-col-md-56 {
      width: calc(100% * 56 / 60); }
    .c-row .c-col-md-57 {
      width: calc(100% * 57 / 60); }
    .c-row .c-col-md-58 {
      width: calc(100% * 58 / 60); }
    .c-row .c-col-md-59 {
      width: calc(100% * 59 / 60); }
    .c-row .c-col-md-60 {
      width: calc(100% * 60 / 60); } }
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    .c-row .c-col-sm-0 {
      width: calc(100% * 0 / 60); }
    .c-row .c-col-sm-1 {
      width: calc(100% * 1 / 60); }
    .c-row .c-col-sm-2 {
      width: calc(100% * 2 / 60); }
    .c-row .c-col-sm-3 {
      width: calc(100% * 3 / 60); }
    .c-row .c-col-sm-4 {
      width: calc(100% * 4 / 60); }
    .c-row .c-col-sm-5 {
      width: calc(100% * 5 / 60); }
    .c-row .c-col-sm-6 {
      width: calc(100% * 6 / 60); }
    .c-row .c-col-sm-7 {
      width: calc(100% * 7 / 60); }
    .c-row .c-col-sm-8 {
      width: calc(100% * 8 / 60); }
    .c-row .c-col-sm-9 {
      width: calc(100% * 9 / 60); }
    .c-row .c-col-sm-10 {
      width: calc(100% * 10 / 60); }
    .c-row .c-col-sm-11 {
      width: calc(100% * 11 / 60); }
    .c-row .c-col-sm-12 {
      width: calc(100% * 12 / 60); }
    .c-row .c-col-sm-13 {
      width: calc(100% * 13 / 60); }
    .c-row .c-col-sm-14 {
      width: calc(100% * 14 / 60); }
    .c-row .c-col-sm-15 {
      width: calc(100% * 15 / 60); }
    .c-row .c-col-sm-16 {
      width: calc(100% * 16 / 60); }
    .c-row .c-col-sm-17 {
      width: calc(100% * 17 / 60); }
    .c-row .c-col-sm-18 {
      width: calc(100% * 18 / 60); }
    .c-row .c-col-sm-19 {
      width: calc(100% * 19 / 60); }
    .c-row .c-col-sm-20 {
      width: calc(100% * 20 / 60); }
    .c-row .c-col-sm-21 {
      width: calc(100% * 21 / 60); }
    .c-row .c-col-sm-22 {
      width: calc(100% * 22 / 60); }
    .c-row .c-col-sm-23 {
      width: calc(100% * 23 / 60); }
    .c-row .c-col-sm-24 {
      width: calc(100% * 24 / 60); }
    .c-row .c-col-sm-25 {
      width: calc(100% * 25 / 60); }
    .c-row .c-col-sm-26 {
      width: calc(100% * 26 / 60); }
    .c-row .c-col-sm-27 {
      width: calc(100% * 27 / 60); }
    .c-row .c-col-sm-28 {
      width: calc(100% * 28 / 60); }
    .c-row .c-col-sm-29 {
      width: calc(100% * 29 / 60); }
    .c-row .c-col-sm-30 {
      width: calc(100% * 30 / 60); }
    .c-row .c-col-sm-31 {
      width: calc(100% * 31 / 60); }
    .c-row .c-col-sm-32 {
      width: calc(100% * 32 / 60); }
    .c-row .c-col-sm-33 {
      width: calc(100% * 33 / 60); }
    .c-row .c-col-sm-34 {
      width: calc(100% * 34 / 60); }
    .c-row .c-col-sm-35 {
      width: calc(100% * 35 / 60); }
    .c-row .c-col-sm-36 {
      width: calc(100% * 36 / 60); }
    .c-row .c-col-sm-37 {
      width: calc(100% * 37 / 60); }
    .c-row .c-col-sm-38 {
      width: calc(100% * 38 / 60); }
    .c-row .c-col-sm-39 {
      width: calc(100% * 39 / 60); }
    .c-row .c-col-sm-40 {
      width: calc(100% * 40 / 60); }
    .c-row .c-col-sm-41 {
      width: calc(100% * 41 / 60); }
    .c-row .c-col-sm-42 {
      width: calc(100% * 42 / 60); }
    .c-row .c-col-sm-43 {
      width: calc(100% * 43 / 60); }
    .c-row .c-col-sm-44 {
      width: calc(100% * 44 / 60); }
    .c-row .c-col-sm-45 {
      width: calc(100% * 45 / 60); }
    .c-row .c-col-sm-46 {
      width: calc(100% * 46 / 60); }
    .c-row .c-col-sm-47 {
      width: calc(100% * 47 / 60); }
    .c-row .c-col-sm-48 {
      width: calc(100% * 48 / 60); }
    .c-row .c-col-sm-49 {
      width: calc(100% * 49 / 60); }
    .c-row .c-col-sm-50 {
      width: calc(100% * 50 / 60); }
    .c-row .c-col-sm-51 {
      width: calc(100% * 51 / 60); }
    .c-row .c-col-sm-52 {
      width: calc(100% * 52 / 60); }
    .c-row .c-col-sm-53 {
      width: calc(100% * 53 / 60); }
    .c-row .c-col-sm-54 {
      width: calc(100% * 54 / 60); }
    .c-row .c-col-sm-55 {
      width: calc(100% * 55 / 60); }
    .c-row .c-col-sm-56 {
      width: calc(100% * 56 / 60); }
    .c-row .c-col-sm-57 {
      width: calc(100% * 57 / 60); }
    .c-row .c-col-sm-58 {
      width: calc(100% * 58 / 60); }
    .c-row .c-col-sm-59 {
      width: calc(100% * 59 / 60); }
    .c-row .c-col-sm-60 {
      width: calc(100% * 60 / 60); } }
  @media only screen and (max-width: 768px) {
    .c-row .c-col-xs-0 {
      width: calc(100% * 0 / 60); }
    .c-row .c-col-xs-1 {
      width: calc(100% * 1 / 60); }
    .c-row .c-col-xs-2 {
      width: calc(100% * 2 / 60); }
    .c-row .c-col-xs-3 {
      width: calc(100% * 3 / 60); }
    .c-row .c-col-xs-4 {
      width: calc(100% * 4 / 60); }
    .c-row .c-col-xs-5 {
      width: calc(100% * 5 / 60); }
    .c-row .c-col-xs-6 {
      width: calc(100% * 6 / 60); }
    .c-row .c-col-xs-7 {
      width: calc(100% * 7 / 60); }
    .c-row .c-col-xs-8 {
      width: calc(100% * 8 / 60); }
    .c-row .c-col-xs-9 {
      width: calc(100% * 9 / 60); }
    .c-row .c-col-xs-10 {
      width: calc(100% * 10 / 60); }
    .c-row .c-col-xs-11 {
      width: calc(100% * 11 / 60); }
    .c-row .c-col-xs-12 {
      width: calc(100% * 12 / 60); }
    .c-row .c-col-xs-13 {
      width: calc(100% * 13 / 60); }
    .c-row .c-col-xs-14 {
      width: calc(100% * 14 / 60); }
    .c-row .c-col-xs-15 {
      width: calc(100% * 15 / 60); }
    .c-row .c-col-xs-16 {
      width: calc(100% * 16 / 60); }
    .c-row .c-col-xs-17 {
      width: calc(100% * 17 / 60); }
    .c-row .c-col-xs-18 {
      width: calc(100% * 18 / 60); }
    .c-row .c-col-xs-19 {
      width: calc(100% * 19 / 60); }
    .c-row .c-col-xs-20 {
      width: calc(100% * 20 / 60); }
    .c-row .c-col-xs-21 {
      width: calc(100% * 21 / 60); }
    .c-row .c-col-xs-22 {
      width: calc(100% * 22 / 60); }
    .c-row .c-col-xs-23 {
      width: calc(100% * 23 / 60); }
    .c-row .c-col-xs-24 {
      width: calc(100% * 24 / 60); }
    .c-row .c-col-xs-25 {
      width: calc(100% * 25 / 60); }
    .c-row .c-col-xs-26 {
      width: calc(100% * 26 / 60); }
    .c-row .c-col-xs-27 {
      width: calc(100% * 27 / 60); }
    .c-row .c-col-xs-28 {
      width: calc(100% * 28 / 60); }
    .c-row .c-col-xs-29 {
      width: calc(100% * 29 / 60); }
    .c-row .c-col-xs-30 {
      width: calc(100% * 30 / 60); }
    .c-row .c-col-xs-31 {
      width: calc(100% * 31 / 60); }
    .c-row .c-col-xs-32 {
      width: calc(100% * 32 / 60); }
    .c-row .c-col-xs-33 {
      width: calc(100% * 33 / 60); }
    .c-row .c-col-xs-34 {
      width: calc(100% * 34 / 60); }
    .c-row .c-col-xs-35 {
      width: calc(100% * 35 / 60); }
    .c-row .c-col-xs-36 {
      width: calc(100% * 36 / 60); }
    .c-row .c-col-xs-37 {
      width: calc(100% * 37 / 60); }
    .c-row .c-col-xs-38 {
      width: calc(100% * 38 / 60); }
    .c-row .c-col-xs-39 {
      width: calc(100% * 39 / 60); }
    .c-row .c-col-xs-40 {
      width: calc(100% * 40 / 60); }
    .c-row .c-col-xs-41 {
      width: calc(100% * 41 / 60); }
    .c-row .c-col-xs-42 {
      width: calc(100% * 42 / 60); }
    .c-row .c-col-xs-43 {
      width: calc(100% * 43 / 60); }
    .c-row .c-col-xs-44 {
      width: calc(100% * 44 / 60); }
    .c-row .c-col-xs-45 {
      width: calc(100% * 45 / 60); }
    .c-row .c-col-xs-46 {
      width: calc(100% * 46 / 60); }
    .c-row .c-col-xs-47 {
      width: calc(100% * 47 / 60); }
    .c-row .c-col-xs-48 {
      width: calc(100% * 48 / 60); }
    .c-row .c-col-xs-49 {
      width: calc(100% * 49 / 60); }
    .c-row .c-col-xs-50 {
      width: calc(100% * 50 / 60); }
    .c-row .c-col-xs-51 {
      width: calc(100% * 51 / 60); }
    .c-row .c-col-xs-52 {
      width: calc(100% * 52 / 60); }
    .c-row .c-col-xs-53 {
      width: calc(100% * 53 / 60); }
    .c-row .c-col-xs-54 {
      width: calc(100% * 54 / 60); }
    .c-row .c-col-xs-55 {
      width: calc(100% * 55 / 60); }
    .c-row .c-col-xs-56 {
      width: calc(100% * 56 / 60); }
    .c-row .c-col-xs-57 {
      width: calc(100% * 57 / 60); }
    .c-row .c-col-xs-58 {
      width: calc(100% * 58 / 60); }
    .c-row .c-col-xs-59 {
      width: calc(100% * 59 / 60); }
    .c-row .c-col-xs-60 {
      width: calc(100% * 60 / 60); } }
