
$custom-red-color: #af0f27;
$content-color: #353535;
$transition-duration: .4s;
$content-title-size: 19px;
$content-body-size: 15px;
$section-title-size: 40px;

@font-face {
    font-family: title-font;
    src: url('../fonts/TitilliumWeb/TitilliumWeb-Black.ttf');
}
@font-face {
    font-family: title-font-bold;
    src: url('../fonts/TitilliumWeb/TitilliumWeb-Bold.ttf');
}
@font-face {
    font-family: content-title-font;
    src: url('../fonts/Montserrat/MONTSERRAT-BLACK.TTF');
}
@font-face {
    font-family: content-font;
    src: url('../fonts/Montserrat/MONTSERRAT-REGULAR.TTF');
}
@font-face {
    font-family: content-font-bold;
    src: url('../fonts/Montserrat/MONTSERRAT-BOLD.TTF');
}
@font-face {
    font-family: content-font-light;
    src: url('../fonts/Montserrat/MONTSERRAT-LIGHT.TTF');
}

.site-wrapper{
    background-color: #fdfcfc;
    font-family: content-font;
    & > header{
        position: absolute;
        z-index: 4;
    }
    .site-content{
        background-color: transparent;
        position: relative;
        padding: 50px 0px 0px 0px;
        overflow: hidden;
        width: 100%;
        .content-wrapper{
            section.page-hero{
                padding-top: 230px;
                background-image: url("../images/single-portfolio-v2/volkswagen/bg.png");
                background-repeat: no-repeat;
                text-align: center;
                color: white;
                h1{
                    font-family: title-font;
                    text-transform: uppercase;
                    font-size: 48px;
                    color: white;
                }
                p{
                    max-width: 890px;
                    margin: 15px auto;
                    font-family: content-font;
                    font-size: 22px;
                    color: white;
                }
                .btn-wrapper{
                    .btn.btn-default{
                        background-color: $custom-red-color;
                        border: none;
                        border-radius: 0px;
                        padding: 25px 55px;
                        font-family: content-font-bold;
                        font-size: 14px;
                        color: white;
                        text-transform: uppercase;
                    }
                }
                .ipad-pro-wrapper{
                    text-align: right;
                    img{
                        max-width: 95%;
                        margin-top: -22px;
                        margin-bottom: -97px;
                    }
                }
                @media only screen and (max-width: 991px) {
                    padding-top: 100px;
                    h1{
                        font-size: 35px;
                    }
                    p{
                        font-size: 18px;
                    }
                    .btn-wrapper{
                        .btn.btn-default{
                            padding: 15px 40px;
                        }
                    }
                    .ipad-pro-wrapper{
                        img{
                            margin-top: 0px;
                            margin-bottom: -10vw;
                        }
                    }
                }
            }
            section.volkswagen{
                padding-top: 100px;
                padding-bottom: 150px;
                .section-content-wrapper{
                    .basic-info{
                        .title-wrapper{
                            margin-bottom: 50px;
                            aside{
                                padding-left: 40px;
                                position: relative;
                                text-transform: uppercase;
                                font-family: content-title-font;
                                font-size: 15px;
                                &:before{
                                    position: absolute;
                                    height: 1px;
                                    width: 25px;
                                    background-color: $content-color;
                                    top: 50%;
                                    left: 0px;
                                    content: '';
                                    display: block;
                                }
                            }
                            h2{
                                margin-top: 5px;
                                margin-bottom: 0px;
                                font-size: $section-title-size;
                                color: $custom-red-color;
                                font-family: content-title-font;
                                text-transform: uppercase;
                            }
                        }
                        .category-wrapper{
                            margin-bottom: 35px;
                            label{
                                text-transform: uppercase;
                                font-family: content-font-bold;
                                font-size: 14px;
                                color: $content-color;
                            }
                            div{
                                font-family: content-font-bold;
                                font-size: 19px;
                                text-transform: capitalize;
                                color: $custom-red-color;
                            }
                        }
                        .location-wrapper{
                            label{
                                text-transform: uppercase;
                                font-family: content-font-bold;
                                font-size: 14px;
                                color: $content-color;
                            }
                            div{
                                font-family: content-font-bold;
                                font-size: 19px;
                                text-transform: capitalize;
                                color: $custom-red-color;
                            }
                        }
                    }
                    .description-wrapper{
                        @media only screen and (min-width: 991px) {
                            padding-top: 50px;
                        }
                        p{
                            font-family: content-font;
                            font-size: 16px;
                            line-height: 2;
                            margin-bottom: 30px;
                        }
                        .button-wrapper{
                            .btn.btn-default{
                                background-color: $custom-red-color;
                                color: white;
                                font-size: 14px;
                                padding: 25px 55px;
                                text-transform: uppercase;
                                border: none;
                                border-radius: 0px;
                            }
                        }
                    }
                }
                @media screen and (max-width: 991px) {
                    padding-top: 12vw;
                    .section-content-wrapper{
                        .basic-info{
                            margin-bottom: 30px;
                            .title-wrapper{
                                text-align: center;
                                margin-bottom: 20px;
                                aside{
                                    display: inline-block;
                                    text-align: center;
                                }
                                h2{
                                    text-align: center;
                                    font-size: 32px;
                                }
                            }
                            .category-wrapper{
                                margin-bottom: 20px;
                                text-align: center;
                            }
                            .location-wrapper{
                                text-align: center;
                            }
                        }
                        .description-wrapper{
                            text-align: center;
                            .button-wrapper{
                                .btn.btn-default{
                                    padding: 20px 40px;
                                }
                            }
                        }
                    }
                }
            }
            section.our-solution{
                background-image: url("../images/single-portfolio-v2/our-solution/bg.png");
                padding-bottom: 150px;
                .section-content-wrapper{
                    .iphone-wrapper{
                        img{
                            max-width: 95%;
                            margin-top: -140px;
                            margin-bottom: -55px;
                        }
                    }
                    article.basic-info{
                        .title-wrapper{
                            margin-bottom: 60px;
                            aside{
                                padding-left: 40px;
                                position: relative;
                                text-transform: uppercase;
                                font-family: content-title-font;
                                font-size: 15px;
                                &:before{
                                    position: absolute;
                                    height: 1px;
                                    width: 25px;
                                    background-color: $content-color;
                                    top: 50%;
                                    left: 0px;
                                    content: '';
                                    display: block;
                                }
                            }
                            h2{
                                margin-top: 5px;
                                font-family: content-title-font;
                                font-size: $section-title-size;
                                color: white;
                                text-transform: uppercase;
                            }
                        }
                        .service-wrapper{
                            margin-bottom: 60px;
                            label{
                                font-family: content-font-bold;
                                color: white;
                                font-size: 14px;
                                text-transform: uppercase;
                            }
                            div{
                                font-family: content-font-bold;
                                font-size: 18px;
                                color: white;
                            }
                        }
                        .technologies-wrapper{
                            label{
                                font-family: content-font-bold;
                                color: white;
                                font-size: 14px;
                                text-transform: uppercase;
                            }
                            ul{
                                list-style: none;
                                li{
                                    float: left;
                                    margin: 5px 20px 5px 0px;
                                    .icon-wrapper{
                                        .img-wrapper{
                                            text-align: center;
                                            margin-bottom: 5px;
                                        }
                                        .naming{
                                            text-align: center;
                                            text-transform: uppercase;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    article.description-wrapper{
                        font-family: content-font;
                        font-size: 16px;
                        color: white;
                        margin-bottom: 100px;
                        line-height: 2;
                        p{
                            margin-top: 0px;
                            margin: 50px;
                        }
                    }
                    .web-img-wrapper{
                        img{
                            max-width: 100%;
                            border-radius: 5px;
                            box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.02);
                        }
                    }
                }
                @media only screen and (max-width: 991px) {
                    padding-bottom: 30px;
                    .section-content-wrapper{
                        .iphone-wrapper{
                            img{
                                margin-top: -16vw;
                                margin-bottom: 1vw;
                            }
                        }
                        article.basic-info{
                            text-align: center;

                            .title-wrapper{
                                text-align: center;
                                margin-bottom: 20px;
                                aside{
                                    display: inline-block;
                                }
                                h2{
                                    font-size: 32px;
                                }
                            }
                            .service-wrapper{
                                margin-bottom: 20px;
                            }
                            .technologies-wrapper{
                                ul{
                                    text-align: center;
                                    li{
                                        margin: 5px;
                                        display: inline-block;
                                        float: none;
                                    }
                                }
                            }
                        }
                        article.description-wrapper{
                            text-align: center;
                            margin-bottom: 30px;
                            p{
                                margin: 10px;
                            }
                        }
                        .web-img-wrapper{
                            text-align: center;
                        }
                    }
                }
            }
            section.our-super-feature{
                position: relative;
                background-image: url("../images/single-portfolio-v2/our-super-feature/bg.png");
                background-position: top center;
                background-size: 1920px 100%;
                background-repeat: no-repeat;
                padding: 130px 0px 50px 0px;
                .section-content-wrapper{
                    @media only screen and (min-width: 992px) {
                        > .row{
                            display: flex;
                            .col-md-6{
                                display: flex;
                            }
                        }
                    }
                    .text-wrapper{
                        max-width: 365px;
                        margin: auto 0px auto auto;
                        >h2{
                            font-family: content-title-font;
                            font-size: 40px;
                            line-height: 1.2;
                            color: $custom-red-color;
                            text-transform: uppercase;
                            margin-bottom: 30px;
                        }
                        >p{
                            margin-top: 0px;
                            font-family: content-font;
                            font-size: 15px;
                            line-height: 1.9;
                            color: $content-color;
                        }
                    }
                    .img-wrapper{
                        position: relative;
                        display: inline-block;
                        border: 16px solid white;
                        border-radius: 50%;
                        margin: 0px 0px 0px auto;
                        box-sizing: border-box;
                        max-width: 100%;
                        >img.feature-img{
                            max-width: 100%;
                        }
                        .dotted-line{
                            position: absolute;
                            top: 5%;
                            right: 72%;
                            width: 85%;
                        }
                        .cloud{
                            position: absolute;
                            left: -35px;
                            bottom: -27px;
                        }
                    }
                }
                .section-decoration{
                    img{
                        position: absolute;
                        //left: 50%;
                    }
                    .superman{
                        top: 300px;
                        right: calc(993px + 20%);
                    }
                    .cloud1{
                        top: 176px;
                        left: -185px;
                    }
                    .cloud2{
                        top: 90px;
                        right: calc(100% * 234 / 1920);
                    }
                    .cloud4{
                        right: -320px;
                        top: 300px;
                    }
                }
                @media only screen and (max-width: 991px) {
                    background-size: 1000px 100%;
                    background-repeat: no-repeat;
                    padding: 50px 0px 20px 0px;
                    .section-content-wrapper{
                        text-align: center;
                        .text-wrapper{
                            margin: 0px auto;
                            >h2{
                                font-size: 32px;
                                line-height: 1.2;
                                margin-bottom: 15px;
                            }
                            >p{
                                font-size: 15px;
                                line-height: 1.9;
                            }
                        }
                        .img-wrapper{
                            position: relative;
                            display: inline-block;
                            border: 16px solid white;
                            border-radius: 50%;
                            margin: 0px auto;
                            box-sizing: border-box;
                            max-width: 100%;
                            >img.feature-img{
                                max-width: 100%;
                            }
                            .dotted-line{
                                position: absolute;
                                top: 5%;
                                right: 72%;
                                width: 85%;
                            }
                            .cloud{
                                position: absolute;
                                left: -35px;
                                bottom: -27px;
                            }
                        }
                    }
                    .section-decoration{
                        img{
                            position: absolute;
                            //left: 50%;
                        }
                        .superman{
                            top: 300px;
                            right: calc(993px + 20%);
                        }
                        .cloud1{
                            top: 176px;
                            left: -185px;
                        }
                        .cloud2{
                            top: 90px;
                            right: calc(100% * 234 / 1920);
                        }
                        .cloud4{
                            right: -320px;
                            top: 300px;
                        }
                    }
                }
            }
            section.what-our-client-said{
                padding: 80px 0px;
                .section-content-wrapper{
                    header{
                        margin-bottom: 75px;
                        aside{
                            padding-left: 40px;
                            position: relative;
                            text-transform: uppercase;
                            font-family: content-title-font;
                            font-size: 15px;
                            &:before{
                                position: absolute;
                                height: 1px;
                                width: 25px;
                                background-color: $content-color;
                                top: 50%;
                                left: 0px;
                                content: '';
                                display: block;
                            }
                        }
                        h2{
                            margin-top: 5px;
                            font-family: content-title-font;
                            font-size: $section-title-size;
                            color: $custom-red-color;
                            text-transform: uppercase;
                        }
                    }
                    .section-body{
                        .user-basic-info{
                            .img-wrapper{
                                display: inline-block;
                                vertical-align: middle;
                                position: relative;
                                padding: 4px;
                                background-color: #e4e4e4;
                                border-radius: 50%;
                                .user-logo{
                                    padding: 5px;
                                    background-color: white;
                                    border-radius: 50%;
                                    display: inline-block;
                                    position: absolute;
                                    right: 3px;
                                    bottom: -10px;
                                }
                            }
                            .user-name-wrapper{
                                display: inline-block;
                                vertical-align: middle;
                                margin-left: 20px;
                                div{
                                    font-family: content-font-bold;
                                    font-size: 21px;
                                    color: $content-color;
                                    margin-bottom: 5px;
                                }
                                aside{
                                    font-family: content-font-bold;
                                    font-size: 12px;
                                    color: $custom-red-color;
                                }
                            }
                        }
                        .description-wrapper{
                            padding: 25px 50px 45px 124px;
                            border-left: 1px solid #e2e2e2;
                            position: relative;
                            .text{
                                text-align: center;
                                font-family: content-font;
                                font-size: 18px;
                                line-height: 28px;
                            }
                            .decoration-container{
                                font-family: "Arial Black";
                                font-size: 70px;
                                color: #d5d5d5;
                                .st-tag{
                                    position: absolute;
                                    line-height: 50px;
                                    left: 40px;
                                    top: 0px;
                                }
                                .end-tag{
                                    position: absolute;
                                    line-height: 50px;
                                    bottom: 0px;
                                    right: 0px;
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }
                }
                @media only screen and (max-width: 991px) {
                    padding: 30px 0px;
                    .section-content-wrapper{
                        text-align: center;
                        header{
                            margin-bottom: 20px;
                            aside{
                                display: inline-block;
                            }
                            h2{
                                font-size: 32px;
                            }
                        }
                        .section-body{
                            .user-basic-info{
                                .img-wrapper{  }
                            }
                            .description-wrapper{
                                padding: 20px 30px;
                                .decoration-container{
                                    font-size: 55px;
                                    .st-tag{
                                        left: 5px;
                                    }
                                    .end-tag{
                                        right: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            section.luxury-villas{
                background-image: url("../images/single-portfolio-v2/luxury-villas/bg.png");
                background-position: center center;
                background-repeat: no-repeat;
                padding: 140px 0px;
                .section-content-wrapper{
                    text-align: center;
                    h6{
                        font-family: content-title-font;
                        font-size: 15px;
                        color: white;
                        text-transform: uppercase;
                    }
                    h2{
                        text-transform: uppercase;
                        font-family: content-title-font;
                        font-size: 38.68px;
                        color: white;
                        span{
                            position: relative;
                            padding-bottom: 3px;
                            &:after{
                                position: absolute;
                                content: '';
                                display: block;
                                left: 0px;
                                bottom: 0px;
                                height: 1px;
                                width: 100%;
                                background-color: white;
                            }
                        }
                    }
                }
                @media only screen and (max-width: 991px) {
                    padding: 90px 0px;
                    .section-content-wrapper{
                        h2{
                            font-size: 30px;
                        }
                    }
                }
            }
            & > section{
                & > .section-content-wrapper{
                    max-width: 1240px;
                    margin: 0px auto;
                    padding: 0px 20px;
                }
            }
        }
        & > .background-decoration{
            overflow: hidden;
        }
    }
    & > footer{
        background-image: url("../images/footer-bg.png");
        background-position: top center;
        z-index: 1;
    }
}

.custom-red-color{
    color: $custom-red-color;
}
*{
    transition: all $transition-duration;
}
.display-on-mobile{
    @media only screen and (min-width: 991px) {
        display: none;
    }
}
.hide-on-mobile{
    @media only screen and (max-width: 991px) {
        display: none;
    }
}


@mixin make-col-style($col-prefix, $total-col-count){
    @for $i from 0 through $total-col-count {
        .#{$col-prefix}-#{$i}{
            width: calc(100% * #{$i} / #{$total-col-count});
        }
    }
}

.c-row{
    margin: 0px -15px;
    display: block;
    &:after{
        content: '';
        display: block;
        clear: both;
    }
    &:before{
        content: '';
        display: block;
        clear: both;
    }
    & > [class^='c-col-']{
        display: block;
        padding: 0px 15px;
        float: left;
    }
    @media only screen and (min-width: 1200px) {
        @include make-col-style('c-col-lg', 60);
    }
    @media only screen and (min-width: 992px) and (max-width: 1200px){
        @include make-col-style('c-col-md', 60);
    }
    @media only screen and (min-width: 768px) and (max-width: 992px){
        @include make-col-style('c-col-sm', 60);
    }
    @media only screen and (max-width: 768px){
        @include make-col-style('c-col-xs', 60);
    }
}

.c-row.space-10{
    margin: 0px -5px;
    display: block;
    &:after{
        content: '';
        display: block;
        clear: both;
    }
    &:before{
        content: '';
        display: block;
        clear: both;
    }
    & > [class^='c-col-']{
        display: block;
        padding: 0px 5px;
        float: left;
    }
    @media only screen and (min-width: 1200px) {
        @include make-col-style('c-col-lg', 60);
    }
    @media only screen and (min-width: 992px) and (max-width: 1200px){
        @include make-col-style('c-col-md', 60);
    }
    @media only screen and (min-width: 768px) and (max-width: 992px){
        @include make-col-style('c-col-sm', 60);
    }
    @media only screen and (max-width: 768px){
        @include make-col-style('c-col-xs', 60);
    }
}