$custom-red-color: #af0f27;
$content-color: #353535;
$transition-duration: .4s;
$content-title-size: 19px;
$content-body-size: 15px;

@font-face {
    font-family: title-font;
    src: url('../fonts/TitilliumWeb/TitilliumWeb-Black.ttf');
}
@font-face {
    font-family: title-font-bold;
    src: url('../fonts/TitilliumWeb/TitilliumWeb-Bold.ttf');
}
@font-face {
    font-family: content-title-font;
    src: url('../fonts/Montserrat/MONTSERRAT-BLACK.TTF');
}
@font-face {
    font-family: content-font;
    src: url('../fonts/Montserrat/MONTSERRAT-REGULAR.TTF');
}
@font-face {
    font-family: content-font-bold;
    src: url('../fonts/Montserrat/MONTSERRAT-BOLD.TTF');
}
@font-face {
    font-family: content-font-light;
    src: url('../fonts/Montserrat/MONTSERRAT-LIGHT.TTF');
}

.site-wrapper{
    background-color: #fdfcfc;
    background-image: url("../images/cloud-hosting/sun-beams.png");
    background-position: top center;
    background-repeat: no-repeat;
    font-family: content-font;
    &>header{
        position: relative;
        z-index: 4;
    }
    .site-content{
        background-color: transparent;
        position: relative;
        padding: 0px 0px 0px 0px;
        overflow: hidden;
        width: 100%;
        margin-top: -40px;
        .content-wrapper{
            margin: 0px auto;
            text-align: center;
            padding: 10px 0px;
            section.our-super-portfolio{
                position: relative;
                margin-top: 60px;
                .section-content{
                    max-width: 1406px;
                    padding: 0px 15px;
                    margin: 0px auto;
                    position: relative;
                    > header{
                        h2{
                            font-family: title-font;
                            font-size: 48px;
                            text-transform: uppercase;
                            margin-bottom: 40px;
                            @media only screen and (max-width: 900px) {
                                padding-top: 70px;
                            }
                        }
                        p{
                            max-width: 780px;
                            margin: 0px auto 70px;
                            font-family: content-font;
                            font-size: 22px;
                            line-height: 1.9;
                        }
                    }
                    .section-body{
                        position: relative;
                        text-align: left;
                        >img{
                            margin-left: -2%;
                            width: 91.8%;
                        }
                        @media only screen and (min-width: 991px) and (max-width: 1355px) {
                            text-align: right;
                            padding-right: calc(300px - 10vw);
                            >img{
                                width: 100%;
                            }
                        }
                        @media only screen and (max-width: 991px) {
                            text-align: center;
                            padding-left: 15px;
                            padding-right: 15px;
                            >img{
                                width: 100%;
                            }
                        }
                        aside{
                            position: absolute;
                            top: 9%;
                            left: 78%;
                            right: 0px;
                            text-align: left;
                            @media only screen and (max-width: 1355px) {
                                width: 295px;
                                left: auto;
                            }
                            h4{
                                font-family: content-title-font;
                                font-size: 14px;
                                text-transform: uppercase;
                                margin-bottom: 5px;
                            }
                            h3{
                                margin-top: 0px;
                                font-family: content-title-font;
                                font-size: 33.36px;
                                text-transform: uppercase;
                                margin-bottom: 20px;
                                word-break: break-all;
                            }
                            a{
                                font-family: content-font;
                                font-size: 16.31px;
                                text-decoration: underline;
                            }
                            @media only screen and (max-width: 991px) {
                                position: static;
                                text-align: center;
                                margin: 0px auto;
                            }
                        }
                    }
                    padding-bottom: 100px;
                }
                .section-decoration{
                    >img{
                        position: absolute;
                    }
                    .superman{
                        bottom: 0px;
                        right: 0px;
                        @media only screen and (max-width: 1260px) {
                            display: none;
                        }
                    }
                    .cloud-1{
                        top: 90px;
                        left: calc(100% * 90 / 1920);
                        @media only screen and (max-width: 1250px) {
                            top: -30px;
                        }
                    }
                    .cloud-2{
                        top: 374px;
                        left: calc(100% * 63 / 1920);
                    }
                    .cloud-3{
                        top: 155px;
                        left: calc(100% * 415 / 1920);
                        @media only screen and (max-width: 1250px) {
                            top: 250px;
                        }
                        @media only screen and (max-width: 475px) {
                            display: none;
                        }
                    }
                    .cloud-4{
                        top: 55px;
                        right: calc(100% * 125 / 1920);
                        @media only screen and (max-width: 1250px) {
                            top: -30px;
                            right: calc(100% * 10 / 1920);
                        }
                    }
                    .cloud-5{
                        top: 400px;
                        right: calc(100% * 40 / 1920);
                    }

                }
                @media only screen and (max-width: 768px) {
                    margin-top: 30px;
                    .section-content{
                        padding-bottom: 10px;
                        > header{
                            h2{
                                font-size: 40px;
                                margin-bottom: 20px;
                            }
                            p{
                                max-width: 780px;
                                margin: 0px auto 30px;
                                font-family: content-font;
                                font-size: 18px;
                                line-height: 1.9;
                            }
                        }
                        .section-body{
                            aside{
                                h4{
                                    font-family: content-title-font;
                                    font-size: 12px;
                                    text-transform: uppercase;
                                    margin-bottom: 5px;
                                }
                                h3{
                                    margin-top: 0px;
                                    font-family: content-title-font;
                                    font-size: 20px;
                                    text-transform: uppercase;
                                    margin-bottom: 20px;
                                }
                                a{
                                    font-family: content-font;
                                    font-size: 14px;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                    .section-decoration{
                        .superman{
                            bottom: 0px;
                            right: 0px;
                        }
                    }
                }
            }
            section.portfolio-container{
                max-width: 1406px;
                padding: 35px 15px 0px;
                margin: 0px auto;
                .portfolio-large{
                    position: relative;
                    margin-bottom: 100px;
                    > img{
                        width: 100%;
                    }
                    .top-left.category{
                        position: absolute;
                        top: 40px;
                        left: 45px;
                        font-family: content-title-font;
                        font-size: 15px;
                        color: white;
                        text-transform: uppercase;
                        img{
                            vertical-align: middle;
                        }
                    }
                    .portfolio-info{
                        position: absolute;
                        top: calc((100% - 142px) / 2);
                        left: 0px;
                        width: 100%;
                        h3.client{
                            font-family: content-title-font;
                            font-size: 50px;
                            text-transform: uppercase;
                            color: white;
                            margin-bottom: 35px;
                        }
                        h6.location{
                            margin-top: 0px;
                            font-family: content-font;
                            font-size: 20px;
                            color: white;
                            text-decoration: underline;
                        }
                    }
                    .btn.btn-default.bottom-right{
                        display: none;
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                        border-radius: 0px;
                        background-color: white;
                        font-family: content-title-font;
                        font-size: 15px;
                        color: #0b090f;
                        text-transform: uppercase;
                        padding: 28px 42px;
                        .right.carousel-control{
                            background-image: none;
                            display: inline-block;
                            position: static;
                            opacity: 1;
                            padding: 0px 10px 0px 0px;
                            border: none;
                            width: auto;
                            margin-left: 10px;
                        }
                    }
                    &:hover{
                        .btn.btn-default.bottom-right{
                            display: initial;
                        }
                    }
                    &:last-child{
                        margin-bottom: 0px;
                    }
                    @media only screen and (max-width: 768px) {
                        margin-bottom: 20px;
                        .top-left.category{
                            position: absolute;
                            top: 25px;
                            left: 30px;
                            font-family: content-title-font;
                            font-size: 15px;
                            color: white;
                            text-transform: uppercase;
                            img{
                                vertical-align: middle;
                            }
                        }
                        .portfolio-info{
                            position: absolute;
                            top: calc((100% - 108px) / 2);
                            left: 0px;
                            width: 100%;
                            h3.client{
                                font-family: content-title-font;
                                font-size: 38px;
                                text-transform: uppercase;
                                color: white;
                                margin-bottom: 15px;
                            }
                            h6.location{
                                margin-top: 0px;
                                font-family: content-font;
                                font-size: 20px;
                                color: white;
                                text-decoration: underline;
                            }
                            @media only screen and (max-width: 500px){
                                top: calc((100% - 84px) / 2);
                                left: 0px;
                                width: 100%;
                                h3.client{
                                    font-family: content-title-font;
                                    font-size: 28px;
                                    text-transform: uppercase;
                                    color: white;
                                    margin-bottom: 5px;
                                }
                                h6.location{
                                    margin-top: 0px;
                                    font-family: content-font;
                                    font-size: 18px;
                                    color: white;
                                    text-decoration: underline;
                                }
                            }
                        }
                        .btn.btn-default.bottom-right{
                            display: none;
                            position: absolute;
                            bottom: 0px;
                            right: 0px;
                            border-radius: 0px;
                            background-color: white;
                            font-family: content-title-font;
                            font-size: 12px;
                            color: #0b090f;
                            text-transform: uppercase;
                            padding: 15px 20px;
                            @media only screen and (max-width: 500px){
                                padding: 5px 15px;
                            }
                            .right.carousel-control{
                                background-image: none;
                                display: inline-block;
                                position: static;
                                opacity: 1;
                                padding: 0px 10px 0px 0px;
                                border: none;
                                width: auto;
                                margin-left: 10px;
                            }
                        }
                    }
                }
                .portfolio-mediumn{
                    padding-top: 30px;
                    margin: 35px 0px;
                    background-size: 100% 100%;
                    header{
                        h3.client{
                            font-family: content-title-font;
                            font-size: 30px;
                            color: white;
                            text-transform: uppercase;
                            margin-bottom: 15px;
                        }
                        a.location{
                            font-family: content-font;
                            font-size: 15.4px;
                            text-decoration: underline;
                            margin: 10px 0;
                            line-height: 1.1;
                        }
                    }
                    .device-wrapper{
                        margin-bottom: -30px;
                        height: 330px;
                        @media only screen and (min-width: 992px) and (max-width: 1180px) {
                            height: 28vw;
                        }
                        @media only screen and (max-width: 560px){
                            height: 65vw;
                        }
                        img{
                            max-width: 100%;
                        }
                    }
                    footer{
                        line-height: 62px;
                        .category{
                            vertical-align: middle;
                            display: inline-block;
                            float: left;
                            margin-left: 45px;
                            font-family: content-title-font;
                            font-size: 15px;
                            color: #353535;
                            text-transform: uppercase;
                        }
                        .btn.btn-default{
                            border-radius: 0px;
                            border: none;
                            padding: 20px 35px;
                            vertical-align: middle;
                            float: right;
                        }
                    }
                    @media only screen and (max-width: 500px) {
                        padding-top: 20px;
                        margin: 15px 0px;
                        header{
                            h3.client{
                                font-size: 25px;
                                margin-bottom: 10px;
                            }
                            h5.location{
                                font-size: 13px;
                            }
                        }
                        .device-wrapper{
                            margin-bottom: -30px;
                        }
                        footer{
                            line-height: 62px;
                            .category{
                                margin-left: 25px;
                                font-size: 15px;
                                color: #353535;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
                .load-more-project{
                    margin-top: 65px;
                    .btn.btn-default{
                        padding: 30px 100px;
                        border: 1px solid #bababa;
                        border-radius: 0px;
                        color: #353535;
                        font-family: content-font-bold;
                        font-size: 15px;
                        text-transform: uppercase;
                        &:hover{
                            background-color: #bababa;
                            color: white;
                        }
                    }
                    @media only screen and (max-width: 500px) {
                        margin-top: 25px;
                        .btn.btn-default{
                            padding: 15px 50px;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        & > .background-decoration{
            overflow: hidden;
            img{
                position: absolute;
                z-index: 2;
                bottom: 10px;
            }
        }
    }
    & > footer{
        background-image: url("../images/footer-bg.png");
        background-position: top center;
        z-index: 1;
    }
}

.custom-red-color{
    color: $custom-red-color;
}
*{
    transition: all $transition-duration;
}
.display-on-mobile{
    @media only screen and (min-width: 991px) {
        display: none;
    }
}
.hide-on-mobile{
    @media only screen and (max-width: 991px) {
        display: none;
    }
}


@mixin make-col-style($col-prefix, $total-col-count){
    @for $i from 0 through $total-col-count {
        .#{$col-prefix}-#{$i}{
            width: calc(100% * #{$i} / #{$total-col-count});
        }
    }
}

.c-row{
    margin: 0px -34px;
    display: block;
    &:after{
        content: '';
        display: block;
        clear: both;
    }
    &:before{
        content: '';
        display: block;
        clear: both;
    }
    & > [class^='c-col-']{
        display: block;
        padding: 0px 34px;
        float: left;
    }
    @media only screen and (min-width: 1200px) {
        @include make-col-style('c-col-lg', 60);
    }
    @media only screen and (min-width: 992px) and (max-width: 1200px){
        @include make-col-style('c-col-md', 60);
    }
    @media only screen and (min-width: 768px) and (max-width: 992px){
        @include make-col-style('c-col-sm', 60);
    }
    @media only screen and (max-width: 768px){
        @include make-col-style('c-col-xs', 60);
    }
}