$custom-red-color: #af0f27;
$custom-white-color: #fafbfb;
$content-color: #353535;
$transition-duration: .4s;
$content-title-size: 35px;
$content-body-size: 15px;
$site-title-size: 48px;

@font-face {
    font-family: title-font;
    src: url('../fonts/TitilliumWeb/TitilliumWeb-Black.ttf');
}
@font-face {
    font-family: title-font-bold;
    src: url('../fonts/TitilliumWeb/TitilliumWeb-Bold.ttf');
}
@font-face {
    font-family: content-title-font;
    src: url('../fonts/Montserrat/MONTSERRAT-BLACK.TTF');
}
@font-face {
    font-family: content-font;
    src: url('../fonts/Montserrat/MONTSERRAT-REGULAR.TTF');
}
@font-face {
    font-family: content-font-bold;
    src: url('../fonts/Montserrat/MONTSERRAT-BOLD.TTF');
}
@font-face {
    font-family: content-font-light;
    src: url('../fonts/Montserrat/MONTSERRAT-LIGHT.TTF');
}

.site-wrapper{
    background-color: white;
    font-family: content-font;
    &>header{
        position: absolute;
    }
    .site-content{
        overflow: hidden;
        position: relative;
        width: 100%;
        .page-hero{
            text-align: center;
            padding-top: 160px;
            width: 100%;
            img{
                max-width: 80%;
            }
        }
        .content-wrapper{
            overflow: hidden;
            max-width: 1250px;
            padding: 20px;
            margin: 0px auto;
            color: $content-color;
            & > section.blog-wrapper{
                border-bottom: 1px solid #e8e8e8;
                & > header{
                    padding: 40px 0px;
                    .when-posted{
                        span{
                            font-size: 16.95px;
                            vertical-align: middle;
                        }
                    }
                    h1.title{
                        font-size: 45px;
                        font-family: content-font-bold;
                    }
                }
                .blog-body{
                    padding: 40px 0px;
                    .author-wrapper{
                        .author-info{
                            padding-bottom: 25px;
                            border-bottom: 1px solid #e8e8e8;
                            .author-name{
                                margin-left: 10px;
                                display: inline-block;
                                vertical-align: middle;
                                font-family: content-font-bold;
                                div:first-child{
                                    font-size: 14px;
                                    text-transform: uppercase;
                                }
                                div:last-child{
                                    font-size: 19px;
                                }
                            }
                        }
                        .share{
                            padding: 20px 0px;
                            border-bottom: 1px solid #e8e8e8;
                            text-align: right;
                            @media only screen and (min-width: 768px) and (max-width: 991px){
                                text-align: left;
                            }
                            & > span{
                                font-family: content-font-bold;
                                color: #a7a7a7;
                                text-transform: uppercase;
                            }
                            a.btn{
                                width: 72px;
                                height: 72px;
                                border-radius: 0px;
                                background-color: black;
                                padding: 0px;
                                line-height: 72px;
                                margin: 2px;
                                @media only screen and (min-width: 991px) and (max-width: 1250px){
                                    width: 50px;
                                    height: 50px;
                                    line-height: 50px;
                                }
                                i{
                                    font-size: 25px;
                                    vertical-align: middle;
                                }
                                &.btn-fb{
                                    background-color: #3b5999;
                                }
                                &.btn-tw{
                                    background-color: #00bff3;
                                }
                                &.btn-gplus{
                                    background-color: #dd4b38;
                                }
                                &.btn-li{
                                    background-color: #0083be;
                                }
                            }
                        }
                        .buttons-wrapper{
                            padding: 20px 0px;
                            a.btn{
                                height: 50px;
                                line-height: 50px;
                                vertical-align: middle;
                                padding: 0px;
                                width: 48%;
                                color: #888888;
                                border: 1px solid #e3e3e3;
                                background-color: #fafafa;
                                border-radius: 25px;
                                margin: 1%;
                                box-sizing: border-box;
                                float: left;
                            }
                        }
                    }
                    .blog-main-contents{
                        font-size: 16px;
                        line-height: 2;
                        color: $content-color;
                        padding-bottom: 50px;
                        p{
                            margin-bottom: 30px;
                        }
                    }
                    .featured-img{
                        img{
                            max-width: 100%;
                        }
                    }
                    .for-wrapper{
                        padding: 50px 0px;
                        .what-for{
                            border-left: 2px solid $custom-red-color;
                            padding-left: 30px;
                            padding-bottom: 20px;
                            .mark-for{
                                margin-bottom: 10px;
                                span{
                                    display: inline-block;
                                    font-family: "Arial Black";
                                    line-height: 50%;
                                    font-size: 101.23px;
                                    transform: rotate(180deg) scale(1, 1);
                                }
                            }
                            .title-for{
                                font-family: content-font-bold;
                                font-size: 20px;
                                max-width: 250px;
                            }
                        }
                        .description-for{
                            font-size: 16px;
                            line-height: 2;
                            p{
                                margin-bottom: 30px;
                            }
                        }
                    }
                }
            }
            & > section.comments-wrapper{
                padding: 50px 0px;
                & > header{
                    margin-bottom: 70px;
                    .comments-count{
                        display: inline-block;
                        font-size: 20px;
                        font-family: content-title-font;
                        text-transform: uppercase;
                        padding: 20px;
                        span{
                            background-color: $custom-red-color;
                            padding: 20px;
                            border-radius: 50%;
                            color: white;
                        }
                    }
                    a.btn{
                        background-color: $content-color;
                        border-radius: 0;
                        padding: 20px 50px;
                        font-size: 14px;
                        font-family: content-font-bold;
                        text-transform: uppercase;
                        margin-top: 3px;
                    }
                }
                & > .comments-body{
                    max-width: 1100px;
                    padding: 0px 20px;
                    margin: 0px auto;
                    .comment-row{
                        padding: 40px 0px 10px 0px;
                        &:not(:last-child){
                            border-bottom: 1px solid #f0f0f0;
                        }
                        .user-image-wrapper{
                            display: inline-block;
                            padding: 3px;
                            background-color: #ececec;
                            max-width: 100%;
                            border-radius: 50%;
                            img{
                                max-width: 100%;
                            }
                        }
                        .comment-body{
                            & > header{
                                padding: 40px 0px 20px 0px;
                                .full-name{
                                    font-size: 23px;
                                    font-family: content-font-bold;
                                }
                                .slash{
                                    color: #cdcdcd;
                                }
                                .when{
                                    font-size: 15px;
                                    font-family: content-font-bold;
                                }
                            }
                            & > .comment-content{
                                font-size: $content-body-size;
                                line-height: 1.9;
                                min-height: 85px;
                                padding-bottom: 30px;
                            }
                            & > footer{
                                font-family: content-font-bold;
                                padding-bottom: 30px;
                                a.reply-comment{
                                    color: $content-color;
                                    text-decoration: none;
                                }
                                a.like-comment{
                                    color: $content-color;
                                    text-decoration: none;
                                }
                            }
                            .child-comments{
                                border-top: 1px solid #f0f0f0;
                                margin-left: calc(100% * -9 / 51);
                                width: calc(100% * 60 / 51);
                                padding-left: calc(100% * 9 / 51);
                                @media screen and (min-width: 768px) and (max-width: 991px){
                                    margin-left: calc(100% * -11 / 51);
                                    width: calc(100% * 60 / 49);
                                    padding-left: calc(100% * 11 / 51);
                                }
                                @media screen and (max-width: 768px){
                                    margin-left: 0;
                                    width: 100%;
                                    padding-left: 30px;
                                    &:before{
                                        left: 0px !important;
                                        width: 30px !important;
                                        height: 30px !important;
                                    }
                                }
                                position: relative;
                                &:before{
                                    position: absolute;
                                    content: '';
                                    width: 55px;
                                    height: 52px;
                                    background-image: url("../images/single-blog/comments/arrow.png");
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    left: 5%;
                                    top: 20px;
                                }
                            }
                        }
                    }
                }
                & > footer{
                    form{
                        padding: 60px 70px 50px 70px;
                        background-color: #f5f5f5;
                        input{
                            padding: 25px 39px;
                            width: 100%;
                            font-size: 18px;
                            margin: 20px auto;
                            color: #9b9b9b;
                            &::placeholder{
                                color: #9b9b9b;
                            }
                        }
                        textarea{
                            padding: 25px 39px;
                            width: 100%;
                            font-size: 18px;
                            color: #9b9b9b;
                            margin-bottom: 13px;
                            resize: vertical;
                            &::placeholder{
                                color: #9b9b9b;
                            }
                        }
                        button[type='submit']{
                            padding: 25px 75px;
                            background-color: $custom-red-color;
                            color: white;
                            font-size: 16px;
                            font-family: content-font-bold;
                            border: none;
                        }
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 768px){
        .site-content{
            text-align: center;
            .page-hero{
                img{
                }
            }
            .content-wrapper{
                & > section.blog-wrapper{

                    & > header{
                        padding: 10px 0px;
                        .when-posted{
                            span{
                            }
                        }
                        h1.title{
                            font-size: 35px;
                        }
                    }
                    .blog-body{
                        padding: 40px 0px 0px;
                        .author-wrapper{
                            .author-info{
                                .author-name{
                                    div:first-child{
                                    }
                                    div:last-child{
                                    }
                                }
                            }
                            .share{
                                text-align: center;
                                & > span{
                                }
                                a.btn{
                                    width: 50px;
                                    height: 50px;
                                    line-height: 50px;
                                    i{
                                    }
                                    &.btn-fb{
                                    }
                                    &.btn-tw{
                                    }
                                    &.btn-gplus{
                                    }
                                    &.btn-li{
                                    }
                                }
                            }
                            .buttons-wrapper{
                                a.btn{
                                }
                            }
                        }
                        .blog-main-contents{
                            line-height: 1.7em;
                            padding-bottom: 20px;
                            p{
                                margin-bottom: 20px;
                            }
                        }
                        .featured-img{
                            img{
                            }
                        }
                        .for-wrapper{
                            padding-top: 20px;
                            padding-bottom: 0px;
                            .what-for{

                                .mark-for{

                                    span{

                                    }
                                }
                                .title-for{
                                    margin: auto;
                                }
                            }
                            .description-for{
                                line-height: 1.7em;
                                padding-bottom: 20px;
                                p{
                                    margin-bottom: 20px;
                                }
                            }
                        }
                    }
                }
                & > section.comments-wrapper{
                    padding: 20px 0px;
                    & > header{
                        margin-bottom: 20px;
                        .comments-count{
                            span{
                            }
                        }
                        a.btn{
                            float: none !important;
                        }
                    }
                    & > .comments-body{
                        .comment-row{
                            padding: 20px 0px 10px;
                            &:not(:last-child){
                            }
                            .user-image-wrapper{
                                img{
                                }
                            }
                            .comment-body{
                                & > header{
                                    padding: 20px 0px 10px;
                                    .full-name{
                                    }
                                    .slash{
                                    }
                                    .when{
                                    }
                                }
                                & > .comment-content{
                                    padding-bottom: 15px;
                                    line-height: 1.7em;
                                }
                                & > footer{
                                    padding-bottom: 10px;
                                    a.reply-comment{
                                    }
                                    a.like-comment{
                                    }
                                }
                                .child-comments{
                                    &:before{
                                    }
                                }
                            }
                        }
                    }
                    & > footer{
                        form{
                            padding: 20px 10px;
                            input{
                                padding: 15px 20px;
                                &::placeholder{
                                }
                            }
                            textarea{
                                padding: 15px 20px;
                                &::placeholder{
                                }
                            }
                            .button-wrapper{
                                text-align: center;
                                button[type='submit']{
                                    padding: 20px 0px;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    & > footer{
        background-image: url("../images/footer-bg.png");
        background-position: top center;
        z-index: 1;
    }
    .title-font{
        font-family: title-font !important;
    }
}

.custom-red-color{
    color: $custom-red-color;
}
*{
    transition: all $transition-duration;
}
.display-on-mobile{
    @media only screen and (min-width: 991px) {
        display: none;
    }
}
.hide-on-mobile{
    @media only screen and (max-width: 991px) {
        display: none;
    }
}

@mixin make-col-style($col-prefix, $total-col-count){
    @for $i from 0 through $total-col-count {
        .#{$col-prefix}-#{$i}{
            width: calc(100% * #{$i} / #{$total-col-count});
        }
    }
}

.c-row{
    margin: 0px -15px;
    display: block;
    &:after{
        content: '';
        display: block;
        clear: both;
    }
    &:before{
        content: '';
        display: block;
        clear: both;
    }
    & > [class^='c-col-']{
        display: block;
        padding: 0px 15px;
        float: left;
    }
    @media only screen and (min-width: 1200px) {
        @include make-col-style('c-col-lg', 60);
    }
    @media only screen and (min-width: 992px) and (max-width: 1200px){
        @include make-col-style('c-col-md', 60);
    }
    @media only screen and (min-width: 768px) and (max-width: 992px){
        @include make-col-style('c-col-sm', 60);
    }
    @media only screen and (max-width: 768px){
        @include make-col-style('c-col-xs', 60);
    }
}