
$custom-red-color: #af0f27;
$content-color: #353535;
$transition-duration: .4s;
$content-title-size: 19px;
$content-body-size: 15px;

@font-face {
    font-family: title-font;
    src: url('../fonts/TitilliumWeb/TitilliumWeb-Black.ttf');
}
@font-face {
    font-family: title-font-bold;
    src: url('../fonts/TitilliumWeb/TitilliumWeb-Bold.ttf');
}
@font-face {
    font-family: content-title-font;
    src: url('../fonts/Montserrat/MONTSERRAT-BLACK.TTF');
}
@font-face {
    font-family: content-font;
    src: url('../fonts/Montserrat/MONTSERRAT-REGULAR.TTF');
}
@font-face {
    font-family: content-font-bold;
    src: url('../fonts/Montserrat/MONTSERRAT-BOLD.TTF');
}
@font-face {
    font-family: content-font-light;
    src: url('../fonts/Montserrat/MONTSERRAT-LIGHT.TTF');
}

.site-wrapper{
    background-color: #fdfcfc;
    background-image: url("../images/cloud-hosting/sun-beams.png");
    background-position: top center;
    background-repeat: no-repeat;
    font-family: content-font;
    &>header{
        position: relative;
    }
    .site-content{
        background-color: transparent;
        position: relative;
        padding: 50px 0px 0px 0px;
        overflow: hidden;
        width: 100%;
        .content-wrapper{
            max-width: 1380px;
            margin: 0px auto;
            text-align: center;
            padding-bottom: 1px;
            section.cloud-hosting{
                max-width: 1200px;
                margin: auto;
                header.cloud-hosting-header{
                    text-transform: uppercase;
                    font-family: title-font;
                    font-size: 48px;
                    font-weight: bolder;
                    padding: 20px;
                    margin-bottom: 50px;
                }
                .cloud-hosting-content{
                    padding: 50px 0px 20px 0px;
                    margin-bottom: 50px;
                    @media only screen and (min-width: 991px) {
                        .row {
                            display: flex;
                            width: 100%;
                            [class*="col-"] {
                                article.cloud-hosting-item{
                                    position: relative;
                                    height: calc(100% - 45px);
                                    padding-bottom: 75px;
                                    footer.item-footer{
                                        position: absolute;
                                        left: 0px;
                                        bottom: 10px;
                                        width: 100%;
                                    }
                                    &:hover{
                                        height: calc(100% - 5px);
                                    }
                                }
                            }
                        }
                    }
                    article.cloud-hosting-item{
                        border: 1px #e4e4e4 solid;
                        border-top: 3px #e5f3f6 solid;
                        padding: 20px 42px;
                        position: relative;
                        top: 0px;
                        margin-bottom: 45px;
                        header.item-header{
                            border-bottom: solid 1px #ebebeb;
                            padding: 10px 5px 20px 5px;
                            .title{
                                font-family: content-title-font;
                                text-transform: uppercase;
                                font-size: 20px;
                                font-weight: bolder;
                                padding: 15px ;
                            }
                            .sub-title{
                                font-family: content-title-font;
                                font-size: 28px;
                                line-height: 1.22em;
                                font-weight: bolder;
                                color: $custom-red-color;
                            }
                            .pricing{
                                line-height: 67px;
                                span.fr{
                                    font-family: content-font-light;
                                    line-height: 2.5em;
                                    vertical-align: bottom;
                                }
                                .amount{
                                    span{
                                        &:first-child{
                                            font-family: title-font-bold;
                                            font-size: 25.89px;
                                            line-height: 1em;
                                            font-weight: bolder;
                                            vertical-align: top;
                                        }
                                        &:last-child{
                                            font-family: content-title-font;
                                            vertical-align: bottom;
                                            font-size: 61px;
                                            line-height: 1em;
                                            font-weight: bolder;
                                        }
                                    }
                                }
                                .month{
                                    font-family: content-font-light;
                                    line-height: 2.5em;
                                    vertical-align: bottom;
                                }
                            }
                        }
                        .item-content{
                            padding: 25px 0px;
                            ul{
                                li{
                                    margin: 15px auto;
                                    max-width: 250px;
                                    color: $content-color;
                                    font-size: 13.5px;
                                    padding-left: 2em;
                                    padding-right: 2em;
                                    vertical-align: middle;
                                    line-height: 1.5em;
                                    img{
                                        float: left;
                                        margin-left: -2em;
                                        margin-right: 15px;
                                        display: inline-block;
                                        opacity: 0;
                                        vertical-align: middle;
                                    }
                                    span{
                                        line-height: 2em;
                                        vertical-align: middle;
                                    }
                                    &:after{
                                        content: '';
                                        clear: both;
                                        display: block;
                                    }
                                }
                            }
                        }
                        footer.item-footer{
                            button{
                                font-family: content-font-bold;
                                text-transform: uppercase;
                                border: none;
                                font-size: 14px;
                                font-weight: bold;
                                padding: 20px 50px;
                                color: #636363;
                                background-color: #e5f3f6;
                            }
                        }
                        &:hover{
                            top: -40px;
                            margin-bottom: 5px;
                            border-top: 3px $custom-red-color solid;
                            background-color: white;
                            box-shadow: rgba(0,0,0, 0.03) 0px 10px 20px 5px;
                            header.item-header{
                                padding-bottom: 40px;
                                .title{
                                    color: $custom-red-color;
                                }
                                .pricing{
                                    span.fr{
                                    }
                                    .amount{
                                        span{
                                            &:first-child{
                                            }
                                            &:last-child{
                                            }
                                        }
                                    }
                                    .month{
                                    }
                                }
                            }
                            .item-content{
                                padding-top: 45px;
                                ul{
                                    li{
                                        text-align: left;
                                        img{
                                            opacity: 1;
                                            display: inline-block;
                                        }
                                    }
                                }
                            }
                            footer.item-footer{
                                button{
                                    color: #fefefe;
                                    background-color: $custom-red-color;
                                }
                            }
                        }
                    }
                }
                @media screen and (max-width: 768px){
                    margin-top: 0px !important;
                    header.cloud-hosting-header{
                        font-size: 35px;
                        margin-bottom: 0px !important;
                    }
                    .cloud-hosting-content{
                        padding: 20px 0px 15px 0px;
                        margin-bottom: 50px;
                        article.cloud-hosting-item{
                            border: 1px #e4e4e4 solid;
                            border-top: 3px #e5f3f6 solid;
                            padding: 20px 20px;
                            position: relative;
                            top: 0px;
                            margin-bottom: 45px;
                            header.item-header{
                                border-bottom: solid 1px #ebebeb;
                                padding: 10px 5px 20px 5px;
                                h2.title{
                                    margin-top: 0px !important;
                                    font-size: 20px;
                                    font-weight: bolder;
                                    padding: 15px ;
                                }
                                .sub-title{
                                    font-size: 28px;
                                    line-height: 1.22em;
                                    font-weight: bolder;
                                    color: $custom-red-color;
                                }
                                .pricing{
                                    line-height: 67px;
                                    span.fr{
                                        line-height: 2.5em;
                                        vertical-align: bottom;
                                    }
                                    .amount{
                                        span{
                                            &:first-child{
                                                font-size: 25.89px;
                                                line-height: 1em;
                                                font-weight: bolder;
                                                vertical-align: top;
                                            }
                                            &:last-child{
                                                vertical-align: bottom;
                                                font-size: 61px;
                                                line-height: 1em;
                                                font-weight: bolder;
                                            }
                                        }
                                    }
                                    .month{
                                        line-height: 2.5em;
                                        vertical-align: bottom;
                                    }
                                }
                            }
                            .item-content{
                                padding: 25px 0px;
                                ul{
                                    li{
                                        margin: 7px auto;
                                        max-width: 250px;
                                        color: $content-color;
                                        font-size: 13.5px;
                                        padding-left: 2.5em;
                                        padding-right: 2.5em;
                                        vertical-align: middle;
                                        line-height: 1.5em;
                                        img{
                                            float: left;
                                            margin-left: -2em;
                                            margin-right: 15px;
                                            display: inline-block;
                                            opacity: 0;
                                            vertical-align: middle;
                                        }
                                        span{
                                            line-height: 2em;
                                            vertical-align: middle;
                                        }
                                        &:after{
                                            content: '';
                                            clear: both;
                                            display: block;
                                        }
                                    }
                                }
                            }
                            footer.item-footer{
                                button{
                                    border: none;
                                    font-size: 14px;
                                    font-weight: bold;
                                    padding: 20px 50px;
                                    color: $content-color;
                                    background-color: #e5f3f6;
                                }
                            }
                            &:hover{
                                header.item-header{
                                    padding-bottom: 40px;
                                    .title{
                                        color: $custom-red-color;
                                    }
                                    .pricing{
                                        span.fr{
                                        }
                                        .amount{
                                            span{
                                                &:first-child{
                                                }
                                                &:last-child{
                                                }
                                            }
                                        }
                                        .month{
                                        }
                                    }
                                }
                                .item-content{
                                    padding-top: 45px;
                                    ul{
                                        li{
                                            text-align: left;
                                            img{
                                                opacity: 1;
                                                display: inline-block;
                                            }
                                        }
                                    }
                                }
                                footer.item-footer{
                                    button{
                                    }
                                }
                            }
                        }
                    }
                }
            }
            section.migrate-existing{
                margin: 20px auto;
                @media only screen and (min-width: 991px) {
                    & > .row{
                        display: flex;
                        & > div:first-child{
                            .image-container{
                                //float: right;
                            }
                        }
                        & > div:last-child{
                            display: flex;
                            article{
                                margin: auto 10px;
                            }
                        }
                    }
                }
                .image-container{
                    position: relative;
                    display: inline-block;
                    & > img{
                        max-width: 100%;
                    }
                    .decoration{
                        width: 100%;
                        height: 100%;
                        img{
                            position: absolute;
                            &.main-img{
                                bottom: 5px;
                                left: 12%;
                                max-width: 76%;
                            }
                            &.cloud-img{
                                left: 7%;
                                max-width: 86%;
                                bottom: -10px;
                            }
                            &.path-line{
                                left: 3.7%;
                                top: 82%;
                                max-width: 177%;
                            }
                        }
                    }
                }
                article.description-container{
                    max-width: 430px;
                    header{
                        font-size: $content-title-size;
                        font-weight: bolder;
                        text-align: left;
                    }
                    & > div{
                        font-size: $content-body-size;
                        text-align: left;
                        line-height: 2em;
                    }
                }
            }
            section.easy-to-use{
                margin: 30px auto;
                @media only screen and (min-width: 991px) {
                    & > .row{
                        display: flex;
                        & > div:first-child{
                            display: flex;
                            article{
                                margin: auto 10px;
                                margin-left: auto;
                            }
                        }
                        & > div:last-child{}
                    }
                }
                .image-container{
                    position: relative;
                    display: inline-block;
                    & > img{
                        max-width: 100%;
                    }
                    .decoration{
                        width: 100%;
                        height: 100%;
                        img{
                            position: absolute;
                            &.main-img{
                                bottom: -10px;
                                left: 18%;
                                max-width: 70%;
                            }
                            &.cloud-img{
                                left: 7%;
                                max-width: 86%;
                                bottom: -10px;
                            }
                        }
                    }
                }
                article.description-container{
                    max-width: 430px;
                    header{
                        font-size: $content-title-size;
                        font-weight: bolder;
                        text-align: right;
                    }
                    & > div{
                        font-size: $content-body-size;
                        text-align: right;
                        line-height: 2em;
                    }
                }
            }
            section.friendly-premium-support{
                margin: 136px auto;
                @media only screen and (min-width: 991px) {
                    & > .row{
                        display: flex;
                        & > div:first-child{
                            .image-container{
                                //float: right;
                            }
                        }
                        & > div:last-child{
                            display: flex;
                            article{
                                margin: auto 10px;
                            }
                        }
                    }
                }
                .image-container{
                    position: relative;
                    display: inline-block;
                    & > img{
                        max-width: 100%;
                    }
                    .decoration{
                        width: 100%;
                        height: 100%;
                        img{
                            position: absolute;
                            &.main-img{
                                bottom: 53px;
                                left: 16%;
                                max-width: 76%;
                            }
                            &.cloud-img{
                                left: 7%;
                                max-width: 86%;
                                bottom: -10px;
                            }
                        }
                    }
                }
                article.description-container{
                    max-width: 430px;
                    header{
                        font-size: $content-title-size;
                        font-weight: bolder;
                        text-align: left;
                    }
                    & > div{
                        font-size: $content-body-size;
                        text-align: left;
                        line-height: 2em;
                    }
                }
            }
            section.scale-your-hosting{
                margin: 100px auto;
                @media only screen and (min-width: 991px) {
                    & > .row{
                        display: flex;
                        & > div:first-child{
                            display: flex;
                            article{
                                margin: auto 10px;
                                margin-left: auto;
                            }
                        }
                        & > div:last-child{}
                    }
                }
                .image-container{
                    position: relative;
                    display: inline-block;
                    & > img{
                        max-width: 100%;
                    }
                    .decoration{
                        width: 100%;
                        height: 100%;
                        img{
                            position: absolute;
                            &.main-img{
                                bottom: 4px;
                                left: 13%;
                                max-width: 76%;
                            }
                            &.cloud-img{
                                left: 7%;
                                max-width: 86%;
                                bottom: -10px;
                            }
                        }
                    }
                }
                article.description-container{
                    max-width: 430px;
                    header{
                        font-size: $content-title-size;
                        font-weight: bolder;
                        text-align: right;
                    }
                    & > div{
                        font-size: $content-body-size;
                        text-align: right;
                        line-height: 2em;
                    }
                }
            }
            section.frequently-asked-questions{
                margin: 70px auto;
                padding: 20px 20px;
                margin-bottom: 250px;
                @media only screen and (min-width: 580px) {
                    margin-bottom: 250px !important;
                }
                & > header{
                    font-family: title-font;
                    font-size: 48px;
                    font-weight: bolder;
                    text-transform: uppercase;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 70px;
                }
                .collapse-wrapper{
                    margin-bottom: 15px;
                    a.btn.btn-default[data-toggle='collapse']{
                        display: block;
                        text-align: left;
                        font-size: 18px;
                        line-height: 58px;
                        padding: 15px 5px 15px 30px;
                        border: 2px solid transparent;
                        border-left: 2px solid $custom-red-color;
                        border-radius: 0px;
                        background-color: #f5f5f5;
                        white-space: normal;
                        img.question-circle{
                            width: 30px;
                            margin-right: 20px;
                        }
                        & > i.glyphicon{
                            padding: 20px 30px 20px 40px;
                            float: right;
                            border-left: 1px solid #e7e6ec;
                        }
                        &[aria-expanded="false"]{
                            & > i.glyphicon.glyphicon-triangle-top{
                                display: none;
                            }
                        }
                        &[aria-expanded="true"]{
                            border-color: #e7e6ec #e7e6ec #e7e6ec $custom-red-color;
                            & > i.glyphicon.glyphicon-triangle-bottom{
                                display: none;
                            }
                        }
                        &:hover{
                            border-color: #e7e6ec #e7e6ec #e7e6ec $custom-red-color;
                        }
                    }
                    & > .collapse, & > .collapsing{
                        box-sizing: border-box;
                        .card.card-body{
                            padding: 30px 93px;
                            font-size: $content-body-size;
                            text-align: left;
                        }
                    }
                }
                @media screen and (max-width: 768px){
                    & > header{
                        font-size: 28px;
                    }
                    .collapse-wrapper{
                        margin-bottom: 15px;

                        a.btn.btn-default[data-toggle='collapse']{
                            font-size: 15px;
                            line-height: 1.5em;
                            padding: 7px 5px 7px 30px;
                            img.question-circle{
                                width: 25px;
                            }
                            & > i.glyphicon{
                                padding: 7px 15px;
                            }
                        }
                        & > .collapse, & > .collapsing{
                            box-sizing: border-box;
                            .card.card-body{
                                padding: 10px 30px;
                                font-size: $content-body-size;
                                text-align: left;
                            }
                        }
                    }
                }
            }
            section.how-would-you-like{
                margin: 20px auto;
                padding: 20px 0px;
                header{
                    font-size: 35px;
                    font-weight: bolder;
                    padding: 20px 5px;
                    font-family: content-title-font;
                    text-transform: uppercase;
                }
                .section-body{
                    padding: 20px 20px;
                    max-width: 1110px;
                    margin: 0px auto;
                    font-size: 22px;
                }
                footer{
                    text-transform: uppercase;
                    font-size: 14px;
                    padding: 20px 5px;
                    & > br{
                        display: none;
                        @media only screen and (max-width: 580px) {
                            display: block;
                        }
                    }
                    button{
                        border: none;
                        text-transform: uppercase;
                        padding: 20px 50px;
                        margin-bottom: 10px;
                        margin-top: 10px;
                        font-family: content-font-bold;
                        &.btn-buy-cloud{
                            background-color: $custom-red-color;
                            color: #fefefe;
                        }
                        &.btn-enquire{
                            background-color: $content-color;
                            color: #fefefe;
                            position: relative;
                            padding: 20px 90px;
                            aside{
                                text-transform: capitalize;
                                font-size: 10px;
                                position: absolute;
                                left: 0px;
                                top: 100%;
                                width: 100%;
                                padding: 5px 50px;
                                color: $content-color;
                            }
                        }
                    }
                }
                @media only screen and (max-width: 768px) {
                    header{
                        font-size: 28px !important;
                    }
                    .section-body{
                        font-size: 20px;
                    }
                }
            }
            & > section{
                position: relative;
                z-index: 3;
                padding-left: 20px;
                padding-right: 20px;
                article.description-container{
                    header{
                        text-transform: uppercase;
                        font-family: content-title-font;
                        margin-bottom: 25px;
                    }
                    & > div{

                    }
                }
                @media only screen and (max-width: 991px) {
                    margin: 30px auto !important;
                    article.description-container{
                        max-width: 500px !important;
                        margin: 20px auto;
                        header{
                            text-align: center !important;
                        }
                        & > div{
                            text-align: center !important;
                        }
                    }
                }
            }
        }
        & > .background-decoration{
            overflow: hidden;
            img{
                position: absolute;
                z-index: 2;
                bottom: 10px;
                &.bg-top-left1{
                    left: -240px;
                    top: 112px;
                }
                &.bg-top-left2{
                    left: 80px;
                    top: 500px;
                }
                &.bg-top-right{
                    top: 130px;
                    right: 250px;
                }
                &.bg-bottom-left{
                    left: -180px;
                    bottom: 150px;
                }
                &.bg-bottom-right1{
                    right: 240px;
                    bottom: 280px;
                }
                &.bg-bottom-right2{
                    right: -300px;
                    bottom: 20px;
                }
                &.bottom-bg{
                    left: calc((100vw - 1920px)/2);
                    bottom: 0px;
                    min-width: calc(100% + 100vw - 1920px);
                    z-index: 1;
                }
            }
        }
    }
    & > footer{
        background-image: url("../images/footer-bg.png");
        background-position: top center;
        z-index: 1;
    }
}

.custom-red-color{
    color: $custom-red-color;
}
*{
    transition: all $transition-duration;
}
.display-on-mobile{
    @media only screen and (min-width: 991px) {
        display: none;
    }
}
.hide-on-mobile{
    @media only screen and (max-width: 991px) {
        display: none;
    }
}