$custom-red-color: #af0f27;
$custom-white-color: #fafbfb;
$content-color: #353535;
$transition-duration: .4s;
$content-title-size: 35px;
$content-body-size: 15px;
$site-title-size: 48px;


.site-wrapper{
    background-color: #fdfcfc;
    background-image: url("../images/cloud-hosting/sun-beams.png");
    background-position: top center;
    background-repeat: no-repeat;
    font-family: content-font;
    &>header{
        position: relative;
    }
    .site-content{
        overflow: hidden;
        position: relative;
        width: 100%;
        .content-wrapper{
            text-align: center;
            overflow: hidden;
            & > section{
                position: relative;
                background-size: auto 100%;
                @media only screen and (min-width: 1450px) {
                    padding: 10px calc((100% - 1450px) / 2);
                }
                @media screen and (min-width: 991px){
                    &:nth-child(even){
                        article.description-wrapper{
                            box-sizing: content-box;
                            padding-left: 150px;
                        }
                    }
                    &:nth-child(odd){
                        article.description-wrapper{
                            box-sizing: content-box;
                            padding-right: 120px;
                        }
                    }
                }
                @media screen and (max-width: 991px){
                    &:nth-child(even){
                        padding: 20vw 10px 20vw 10px !important;
                    }
                    &:nth-child(odd){
                        padding: 20px 10px 20px 10px !important;
                    }
                    .image-container{
                        padding: 20px 10px !important;
                    }
                    article.description-wrapper{
                        text-align: center !important;
                        margin: 0px auto !important;
                        box-sizing: content-box;
                        header{
                            font-size: 28px !important;
                        }
                    }
                }
                padding: 10px 20px;
                article.description-wrapper{
                    position: relative;
                    z-index: 30;
                    text-align: left;
                    max-width: 310px;
                    margin: 0px auto;
                    header{
                        font-family: content-title-font;
                        font-size: $content-title-size;
                        font-weight: bolder;
                        text-transform: uppercase;
                    }
                    .body{
                        font-size: $content-body-size;
                        line-height: 2em;
                    }
                }
                .image-container{
                    position: relative;
                    z-index: 30;
                    display: inline-block;
                    & > img{
                        max-width: 100%;
                    }
                    .decoration-container{
                        img{
                            position: absolute;
                        }
                    }
                }

            }
            section.how-we-work{
                & > header{
                    position: relative;
                    font-family: title-font;
                    font-size: $site-title-size;
                    text-transform: uppercase;
                    font-weight: bolder;
                    z-index: 20;
                    @media screen and (max-width: 991px){
                        font-size: 35px;
                    }
                }
                .section-body{
                    z-index: 20;
                    position: relative;
                    font-size: 16px;
                    line-height: 2em;
                    max-width: 900px;
                    margin: 20px auto;
                }
                & > footer{
                    position: relative;
                    //z-index: 20;
                    max-width: 1250px;
                    margin: 0px auto;
                    .supperhero{
                        position: relative;
                        z-index: 1;
                        img{
                            float: right;
                        }
                        @media only screen and (max-width: 565px) {
                            display: none;
                        }
                    }
                    .rock{
                        z-index: 0;
                        position: relative;
                        padding-right: 41px;
                        img{
                            margin-top: -13px;
                            float: right;
                            &.cloud{
                                position: absolute;
                                top: 50px;
                                right: 45px;
                            }
                        }
                        @media only screen and (max-width: 565px) {
                            display: none;
                        }
                    }
                    .circle-start-path{
                        margin-bottom: -134px;
                        position: relative;
                        z-index: 30;
                        span{
                            display: inline-block;
                            text-transform: uppercase;
                            box-sizing: border-box;
                            width: calc(4vw + 90px);
                            height: calc(4vw + 90px);
                            background-color: $custom-red-color;
                            border-radius: 50%;
                            color: $custom-white-color;
                            font-size: 20px;
                            line-height: calc(4vw + 90px);
                            text-align: center;
                        }
                        @media only screen and (max-width: 565px) {
                            margin-bottom: 50px;
                        }
                    }
                }
                .section-decoration{
                    img{
                        position: absolute;
                        &:nth-child(1){
                            left: -240px;
                            top: 112px;
                        }
                        &:nth-child(2){
                            top: 100px;
                            right: 200px;
                        }
                        &:nth-child(3){
                            left: 80px;
                            top: 400px;
                        }
                    }
                }
            }
            section.brief{
                background-image: url("../images/how-we-work/Brief-1/bg.png");
                background-position: top center;
                background-repeat: no-repeat;
                padding-top: 145px;
                padding-bottom: 290px;
                margin-top: -167px;
                @media only screen and (max-width: 565px) {
                    margin-top: -150px;
                }
                article.description-wrapper{
                    header{
                        margin-bottom: 30px;
                    }
                    .body{
                    }
                }
                .image-container{
                }
                .section-decoration{
                    img{
                        position: absolute;
                        &:nth-child(1){
                            right: 65px;
                            top: 300px;
                        }
                    }
                }
            }
            section.quote{
                padding-bottom: 85px;
                .image-container{
                    position: relative;
                    img.check{
                        top: 58%;
                        left: 48%;
                        width: 10%;
                        position: absolute;
                        cursor: pointer;
                    }
                    img.cloud{
                        bottom: -17px;
                        left: 55%;
                        position: absolute;
                    }
                }
            }
            section.wireframes{
                background-image: url("../images/how-we-work/wireframes-3/bg.png");
                background-position: top center;
                background-repeat: no-repeat;
                padding-top: 145px;
                padding-bottom: 334px;
                article.description-wrapper{
                    header{
                        margin-bottom: 30px;
                    }
                    .body{
                    }
                }
                .image-container{
                    .decoration-container{
                        img.main{
                            top: -5%;
                            left: 23%;
                            width: 53%;
                        }
                        img.cloud1{

                        }
                        img.cloud2{

                        }
                    }
                }
                .section-decoration{
                    img{
                        position: absolute;
                        &:nth-child(1){
                            left: 44px;
                            top: 475px;
                        }
                        &:nth-child(2){
                            right: -80px;
                            top: 165px;
                        }
                    }
                }
            }
            section.design{
                padding-top: 140px;
                padding-bottom: 45px;
                .image-container{
                    position: relative;
                    .decoration-container{
                        img.main{
                            left: 13%;
                            top: -22%;
                            width: 67%;
                        }
                        img.crane{
                            width: 77.5%;
                            left: 4%;
                            top: -46%;
                            @media screen and (max-width: 991px){
                                top: -43% !important;
                            }
                        }
                    }
                }
                .description-wrapper{
                    margin-top: -115px;
                }
                @media screen and (max-width: 991px){
                    padding: 110px 10px 20px 10px !important;
                }
            }
            .content-footer{

                background-image: url("../images/how-we-work/code-up-5/bg.png");
                background-position: top center;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                padding-top: 160px;
                padding-bottom: 50px;
                position: relative;
                @media screen and (max-width: 991px){
                    background-size: auto 100% !important;
                }
                & > section{
                    position: relative;
                    @media only screen and (min-width: 1450px) {
                        padding: 10px calc((100% - 1450px) / 2);
                    }
                    padding: 20px;
                    article.description-wrapper{
                        position: relative;
                        z-index: 30;
                        text-align: left;
                        max-width: 310px;
                        margin: 0px auto;
                        header{
                            font-family: content-title-font;
                            font-size: $content-title-size;
                            font-weight: bolder;
                            text-transform: uppercase;
                        }
                        .body{
                            font-size: $content-body-size;
                            line-height: 2em;
                        }
                    }
                    .image-container{
                        position: relative;
                        z-index: 30;
                        display: inline-block;
                        .decoration-container{
                            img{
                                position: absolute;
                            }
                        }
                    }
                    @media screen and (max-width: 991px){
                        .image-container{
                            padding: 20px 10px !important;
                        }
                        article.description-wrapper{
                            text-align: center !important;
                            margin: 0px auto !important;
                            padding: 20px 10px !important;
                            box-sizing: content-box;
                        }
                    }
                }
                section.codeup{
                    padding-bottom: 150px;
                    article.description-wrapper{
                        box-sizing: content-box;
                        padding-left: 150px;
                    }
                    .image-container{
                        img{
                            max-width: 100%;
                        }
                    }
                    @media screen and (max-width: 991px){
                        padding-bottom: 20px;
                        article.description-wrapper{
                            header{
                                font-size: 28px !important;
                            }
                        }
                    }
                }
                section.ready-to-start{
                    position: relative;
                    z-index: 20;
                    max-width: 770px;
                    margin: 0px auto;
                    padding: 20px 25px;
                    padding-top: 162px;
                    padding-bottom: 180px;
                    .circle-end-path{
                        span{
                            display: inline-block;
                            text-transform: uppercase;
                            box-sizing: border-box;
                            width: calc(4vw + 90px);
                            height: calc(4vw + 90px);
                            background-color: $custom-red-color;
                            border-radius: 50%;
                            color: $custom-white-color;
                            font-size: 20px;
                            line-height: calc(4vw + 90px);
                            text-align: center;
                        }
                    }
                    header{
                        font-family: content-title-font;
                        text-transform: uppercase;
                        font-size: $content-title-size;
                        margin: 40px auto 20px auto;
                    }
                    .body{
                        font-size: $content-body-size;
                        line-height: 2em;
                        margin-bottom: 30px;
                    }
                    footer{
                        button{
                            border: none;
                            text-transform: uppercase;
                            padding: 28px 70px;
                            margin-bottom: 10px;
                            font-size: 16px;
                            margin-top: 10px;
                            font-family: content-font-bold;
                            background-color: $custom-red-color;
                            color: #fefefe;
                        }
                    }
                    @media only screen and (min-width: 991px) and (max-width: 1500px) {
                        margin-left: 400px;
                        padding-left: 0px;
                    }
                    @media screen and (max-width: 991px){
                        padding-top: 20px;
                        padding-bottom: 630px;
                        header{
                            font-size: 28px;
                        }
                        footer{
                            button{
                                padding: 28px 30px !important;
                            }
                        }
                    }
                    @media screen and (max-width: 768px){
                        padding-bottom: 85vw;
                    }
                }
                & > .section-decoration{
                    img{
                        position: absolute;
                        &:nth-child(1){
                            top: 440px;
                            left: 35px;
                        }
                        &:nth-child(2){
                            right: -80px;
                            top: 588px;
                        }
                        &.rocket{
                            left: 0px;
                            bottom: -20px;
                            max-width: 100%;
                        }
                    }
                }
            }
        }
        .background-decoration{
            .path-wrapper{
                position: absolute;
                z-index: 20;
                margin: 0px auto;
                top: 250px;
                bottom: 500px;
                width: 100%;
                text-align: center;
                box-sizing: border-box;
                @media only screen and (min-width: 1450px) {
                    padding: 10px calc((100% - 1450px) / 2);
                }
                @media screen and (max-width: 1200px){
                    top: 270px;
                }
                padding: 10px 0px;
                .circle-start-path{
                    span{
                        display: inline-block;
                        text-transform: uppercase;
                        box-sizing: border-box;
                        width: 134px;
                        height: 134px;
                        background-color: $custom-red-color;
                        border-radius: 50%;
                        color: $custom-white-color;
                        font-size: 20px;
                        line-height: 134px;
                        text-align: center;
                    }
                }
                .path-line{
                    position: relative;
                    right: 5%;
                    width: 54%;
                    height: calc(100% - (134px * 2) + 20px);
                    display: inline-block;
                    & > img{
                        width: 100%;
                        height: 100%;
                    }
                    .path-decoration-container{
                        img{
                            position: absolute;
                            &:nth-child(1){
                                top: 4%;
                                left: 17.1%;
                            }
                            &:nth-child(2){
                                top: 21.5%;
                                left: 79%;
                            }
                            &:nth-child(3){
                                top: 57.9%;
                                left: 36%;
                            }
                            &:nth-child(4){
                                top: 96.6%;
                                left: 7.3%;
                            }
                        }
                    }
                }
                .circle-end-path{
                    span{
                        text-transform: uppercase;
                        display: inline-block;
                        box-sizing: border-box;
                        width: 134px;
                        height: 134px;
                        background-color: $custom-red-color;
                        border-radius: 50%;
                        color: $custom-white-color;
                        font-size: 20px;
                        line-height: 134px;
                        text-align: center;
                    }
                }
            }
        }
    }

    & > footer{
        background-image: url("../images/footer-bg.png");
        background-position: top center;
        z-index: 1;
    }
    .title-font{
        font-family: title-font !important;
    }
}

.custom-red-color{
    color: $custom-red-color;
}
*{
    transition: all $transition-duration;
}
.display-on-mobile{
    @media only screen and (min-width: 991px) {
        display: none;
    }
}
.hide-on-mobile{
    @media only screen and (max-width: 991px) {
        display: none;
    }
}
