{% extends '/_layout/layout.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ url('/css/web-hosting.css') }}"/>
{% endblock %}
{% block content %}
  <div class="site-content">
    {% include '/_includes/matrixBlocks.twig' %}
  </div>
{% endblock %}
